# Data Collection

Clojure is a dialect of lisp, it is dynamic and runs on the Java platform. This is the Data Collection notebook in which we will be using clojure to collect data.

In [1]:
%classpath add jar ./data.csv-1.1.0.jar

(require '[clojure.data.csv :as csv]
         '[clojure.java.io :as io])

null

In [2]:
(defn read-contents
    [path]
    (csv/read-csv (io/reader path)))

(defn csv-data->maps [csv-data]
  (map zipmap
       (->> (first csv-data)
            repeat)
	  (rest csv-data)))

(defn store-seq
    [file]
    (let [nam (apply str (take-while #(not= % \.) file))]
        (spit (str nam ".txt")
              (apply list (csv-data->maps (read-contents file))))
        "done"))

#'beaker_clojure_shell_5741a78b-609f-468e-b823-64137e74c63c/store-seq

First lets read the titanic.csv dataset dowloaded from https://github.com/datasciencedojo/datasets/blob/master/titanic.csv using read-contents.

In [3]:
(read-contents "titanic.csv")

[[PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked], [1, 0, 3, Braund, Mr. Owen Harris, male, 22, 1, 0, A/5 21171, 7.25, , S], [2, 1, 1, Cumings, Mrs. John Bradley (Florence Briggs Thayer), female, 38, 1, 0, PC 17599, 71.2833, C85, C], [3, 1, 3, Heikkinen, Miss. Laina, female, 26, 0, 0, STON/O2. 3101282, 7.925, , S], [4, 1, 1, Futrelle, Mrs. Jacques Heath (Lily May Peel), female, 35, 1, 0, 113803, 53.1, C123, S], [5, 0, 3, Allen, Mr. William Henry, male, 35, 0, 0, 373450, 8.05, , S], [6, 0, 3, Moran, Mr. James, male, , 0, 0, 330877, 8.4583, , Q], [7, 0, 1, McCarthy, Mr. Timothy J, male, 54, 0, 0, 17463, 51.8625, E46, S], [8, 0, 3, Palsson, Master. Gosta Leonard, male, 2, 3, 1, 349909, 21.075, , S], [9, 1, 3, Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg), female, 27, 0, 2, 347742, 11.1333, , S], [10, 1, 2, Nasser, Mrs. Nicholas (Adele Achem), female, 14, 1, 0, 237736, 30.0708, , C], [11, 1, 3, Sandstrom, Miss. Marguerite Rut, female, 4, 1, 1, PP 9549, 16.7, G6, S], [12, 1, 1, Bonnell, Miss. Elizabeth, female, 58, 0, 0, 113783, 26.55, C103, S], [13, 0, 3, Saundercock, Mr. William Henry, male, 20, 0, 0, A/5. 2151, 8.05, , S], [14, 0, 3, Andersson, Mr. Anders Johan, male, 39, 1, 5, 347082, 31.275, , S], [15, 0, 3, Vestrom, Miss. Hulda Amanda Adolfina, female, 14, 0, 0, 350406, 7.8542, , S], [16, 1, 2, Hewlett, Mrs. (Mary D Kingcome) , female, 55, 0, 0, 248706, 16, , S], [17, 0, 3, Rice, Master. Eugene, male, 2, 4, 1, 382652, 29.125, , Q], [18, 1, 2, Williams, Mr. Charles Eugene, male, , 0, 0, 244373, 13, , S], [19, 0, 3, Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele), female, 31, 1, 0, 345763, 18, , S], [20, 1, 3, Masselmani, Mrs. Fatima, female, , 0, 0, 2649, 7.225, , C], [21, 0, 2, Fynney, Mr. Joseph J, male, 35, 0, 0, 239865, 26, , S], [22, 1, 2, Beesley, Mr. Lawrence, male, 34, 0, 0, 248698, 13, D56, S], [23, 1, 3, McGowan, Miss. Anna "Annie", female, 15, 0, 0, 330923, 8.0292, , Q], [24, 1, 1, Sloper, Mr. William Thompson, male, 28, 0, 0, 113788, 35.5, A6, S], [25, 0, 3, Palsson, Miss. Torborg Danira, female, 8, 3, 1, 349909, 21.075, , S], [26, 1, 3, Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson), female, 38, 1, 5, 347077, 31.3875, , S], [27, 0, 3, Emir, Mr. Farred Chehab, male, , 0, 0, 2631, 7.225, , C], [28, 0, 1, Fortune, Mr. Charles Alexander, male, 19, 3, 2, 19950, 263, C23 C25 C27, S], [29, 1, 3, O'Dwyer, Miss. Ellen "Nellie", female, , 0, 0, 330959, 7.8792, , Q], [30, 0, 3, Todoroff, Mr. Lalio, male, , 0, 0, 349216, 7.8958, , S], [31, 0, 1, Uruchurtu, Don. Manuel E, male, 40, 0, 0, PC 17601, 27.7208, , C], [32, 1, 1, Spencer, Mrs. William Augustus (Marie Eugenie), female, , 1, 0, PC 17569, 146.5208, B78, C], [33, 1, 3, Glynn, Miss. Mary Agatha, female, , 0, 0, 335677, 7.75, , Q], [34, 0, 2, Wheadon, Mr. Edward H, male, 66, 0, 0, C.A. 24579, 10.5, , S], [35, 0, 1, Meyer, Mr. Edgar Joseph, male, 28, 1, 0, PC 17604, 82.1708, , C], [36, 0, 1, Holverson, Mr. Alexander Oskar, male, 42, 1, 0, 113789, 52, , S], [37, 1, 3, Mamee, Mr. Hanna, male, , 0, 0, 2677, 7.2292, , C], [38, 0, 3, Cann, Mr. Ernest Charles, male, 21, 0, 0, A./5. 2152, 8.05, , S], [39, 0, 3, Vander Planke, Miss. Augusta Maria, female, 18, 2, 0, 345764, 18, , S], [40, 1, 3, Nicola-Yarred, Miss. Jamila, female, 14, 1, 0, 2651, 11.2417, , C], [41, 0, 3, Ahlin, Mrs. Johan (Johanna Persdotter Larsson), female, 40, 1, 0, 7546, 9.475, , S], [42, 0, 2, Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott), female, 27, 1, 0, 11668, 21, , S], [43, 0, 3, Kraeff, Mr. Theodor, male, , 0, 0, 349253, 7.8958, , C], [44, 1, 2, Laroche, Miss. Simonne Marie Anne Andree, female, 3, 1, 2, SC/Paris 2123, 41.5792, , C], [45, 1, 3, Devaney, Miss. Margaret Delia, female, 19, 0, 0, 330958, 7.8792, , Q], [46, 0, 3, Rogers, Mr. William John, male, , 0, 0, S.C./A.4. 23567, 8.05, , S], [47, 0, 3, Lennon, Mr. Denis, male, , 1, 0, 370371, 15.5, , Q], [48, 1, 3, O'Driscoll, Miss. Bridget, female, , 0, 0, 14311, 7.75, , Q], [49, 0, 3, Samaan, Mr. Youssef, male, , 2, 0, 2662, 21.6792, , C], [50, 0, 3, Arnold-Franchi, Mrs. Josef (Josefine Franchi), female, 18, 1, 0, 349237, 17.8, , S], [51, 0, 3, Panula, Master. Juha Niilo, male, 7, 4, 1, 3101295, 39.6875, , S], [52, 0, 3, Nosworthy, Mr. Richard Cater, male, 21, 0, 0, A/4. 39886, 7.8, , S], [53, 1, 1, Harper, Mrs. Henry Sleeper (Myna Haxtun), female, 49, 1, 0, PC 17572, 76.7292, D33, C], [54, 1, 2, Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson), female, 29, 1, 0, 2926, 26, , S], [55, 0, 1, Ostby, Mr. Engelhart Cornelius, male, 65, 0, 1, 113509, 61.9792, B30, C], [56, 1, 1, Woolner, Mr. Hugh, male, , 0, 0, 19947, 35.5, C52, S], [57, 1, 2, Rugg, Miss. Emily, female, 21, 0, 0, C.A. 31026, 10.5, , S], [58, 0, 3, Novel, Mr. Mansouer, male, 28.5, 0, 0, 2697, 7.2292, , C], [59, 1, 2, West, Miss. Constance Mirium, female, 5, 1, 2, C.A. 34651, 27.75, , S], [60, 0, 3, Goodwin, Master. William Frederick, male, 11, 5, 2, CA 2144, 46.9, , S], [61, 0, 3, Sirayanian, Mr. Orsen, male, 22, 0, 0, 2669, 7.2292, , C], [62, 1, 1, Icard, Miss. Amelie, female, 38, 0, 0, 113572, 80, B28, ], [63, 0, 1, Harris, Mr. Henry Birkhardt, male, 45, 1, 0, 36973, 83.475, C83, S], [64, 0, 3, Skoog, Master. Harald, male, 4, 3, 2, 347088, 27.9, , S], [65, 0, 1, Stewart, Mr. Albert A, male, , 0, 0, PC 17605, 27.7208, , C], [66, 1, 3, Moubarek, Master. Gerios, male, , 1, 1, 2661, 15.2458, , C], [67, 1, 2, Nye, Mrs. (Elizabeth Ramell), female, 29, 0, 0, C.A. 29395, 10.5, F33, S], [68, 0, 3, Crease, Mr. Ernest James, male, 19, 0, 0, S.P. 3464, 8.1583, , S], [69, 1, 3, Andersson, Miss. Erna Alexandra, female, 17, 4, 2, 3101281, 7.925, , S], [70, 0, 3, Kink, Mr. Vincenz, male, 26, 2, 0, 315151, 8.6625, , S], [71, 0, 2, Jenkin, Mr. Stephen Curnow, male, 32, 0, 0, C.A. 33111, 10.5, , S], [72, 0, 3, Goodwin, Miss. Lillian Amy, female, 16, 5, 2, CA 2144, 46.9, , S], [73, 0, 2, Hood, Mr. Ambrose Jr, male, 21, 0, 0, S.O.C. 14879, 73.5, , S], [74, 0, 3, Chronopoulos, Mr. Apostolos, male, 26, 1, 0, 2680, 14.4542, , C], [75, 1, 3, Bing, Mr. Lee, male, 32, 0, 0, 1601, 56.4958, , S], [76, 0, 3, Moen, Mr. Sigurd Hansen, male, 25, 0, 0, 348123, 7.65, F G73, S], [77, 0, 3, Staneff, Mr. Ivan, male, , 0, 0, 349208, 7.8958, , S], [78, 0, 3, Moutal, Mr. Rahamin Haim, male, , 0, 0, 374746, 8.05, , S], [79, 1, 2, Caldwell, Master. Alden Gates, male, 0.83, 0, 2, 248738, 29, , S], [80, 1, 3, Dowdell, Miss. Elizabeth, female, 30, 0, 0, 364516, 12.475, , S], [81, 0, 3, Waelens, Mr. Achille, male, 22, 0, 0, 345767, 9, , S], [82, 1, 3, Sheerlinck, Mr. Jan Baptist, male, 29, 0, 0, 345779, 9.5, , S], [83, 1, 3, McDermott, Miss. Brigdet Delia, female, , 0, 0, 330932, 7.7875, , Q], [84, 0, 1, Carrau, Mr. Francisco M, male, 28, 0, 0, 113059, 47.1, , S], [85, 1, 2, Ilett, Miss. Bertha, female, 17, 0, 0, SO/C 14885, 10.5, , S], [86, 1, 3, Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson), female, 33, 3, 0, 3101278, 15.85, , S], [87, 0, 3, Ford, Mr. William Neal, male, 16, 1, 3, W./C. 6608, 34.375, , S], [88, 0, 3, Slocovski, Mr. Selman Francis, male, , 0, 0, SOTON/OQ 392086, 8.05, , S], [89, 1, 1, Fortune, Miss. Mabel Helen, female, 23, 3, 2, 19950, 263, C23 C25 C27, S], [90, 0, 3, Celotti, Mr. Francesco, male, 24, 0, 0, 343275, 8.05, , S], [91, 0, 3, Christmann, Mr. Emil, male, 29, 0, 0, 343276, 8.05, , S], [92, 0, 3, Andreasson, Mr. Paul Edvin, male, 20, 0, 0, 347466, 7.8542, , S], [93, 0, 1, Chaffee, Mr. Herbert Fuller, male, 46, 1, 0, W.E.P. 5734, 61.175, E31, S], [94, 0, 3, Dean, Mr. Bertram Frank, male, 26, 1, 2, C.A. 2315, 20.575, , S], [95, 0, 3, Coxon, Mr. Daniel, male, 59, 0, 0, 364500, 7.25, , S], [96, 0, 3, Shorney, Mr. Charles Joseph, male, , 0, 0, 374910, 8.05, , S], [97, 0, 1, Goldschmidt, Mr. George B, male, 71, 0, 0, PC 17754, 34.6542, A5, C], [98, 1, 1, Greenfield, Mr. William Bertram, male, 23, 0, 1, PC 17759, 63.3583, D10 D12, C], [99, 1, 2, Doling, Mrs. John T (Ada Julia Bone), female, 34, 0, 1, 231919, 23, , S], [100, 0, 2, Kantor, Mr. Sinai, male, 34, 1, 0, 244367, 26, , S], [101, 0, 3, Petranec, Miss. Matilda, female, 28, 0, 0, 349245, 7.8958, , S], [102, 0, 3, Petroff, Mr. Pastcho ("Pentcho"), male, , 0, 0, 349215, 7.8958, , S], [103, 0, 1, White, Mr. Richard Frasar, male, 21, 0, 1, 35281, 77.2875, D26, S], [104, 0, 3, Johansson, Mr. Gustaf Joel, male, 33, 0, 0, 7540, 8.6542, , S], [105, 0, 3, Gustafsson, Mr. Anders Vilhelm, male, 37, 2, 0, 3101276, 7.925, , S], [106, 0, 3, Mionoff, Mr. Stoytcho, male, 28, 0, 0, 349207, 7.8958, , S], [107, 1, 3, Salkjelsvik, Miss. Anna Kristine, female, 21, 0, 0, 343120, 7.65, , S], [108, 1, 3, Moss, Mr. Albert Johan, male, , 0, 0, 312991, 7.775, , S], [109, 0, 3, Rekic, Mr. Tido, male, 38, 0, 0, 349249, 7.8958, , S], [110, 1, 3, Moran, Miss. Bertha, female, , 1, 0, 371110, 24.15, , Q], [111, 0, 1, Porter, Mr. Walter Chamberlain, male, 47, 0, 0, 110465, 52, C110, S], [112, 0, 3, Zabour, Miss. Hileni, female, 14.5, 1, 0, 2665, 14.4542, , C], [113, 0, 3, Barton, Mr. David John, male, 22, 0, 0, 324669, 8.05, , S], [114, 0, 3, Jussila, Miss. Katriina, female, 20, 1, 0, 4136, 9.825, , S], [115, 0, 3, Attalah, Miss. Malake, female, 17, 0, 0, 2627, 14.4583, , C], [116, 0, 3, Pekoniemi, Mr. Edvard, male, 21, 0, 0, STON/O 2. 3101294, 7.925, , S], [117, 0, 3, Connors, Mr. Patrick, male, 70.5, 0, 0, 370369, 7.75, , Q], [118, 0, 2, Turpin, Mr. William John Robert, male, 29, 1, 0, 11668, 21, , S], [119, 0, 1, Baxter, Mr. Quigg Edmond, male, 24, 0, 1, PC 17558, 247.5208, B58 B60, C], [120, 0, 3, Andersson, Miss. Ellis Anna Maria, female, 2, 4, 2, 347082, 31.275, , S], [121, 0, 2, Hickman, Mr. Stanley George, male, 21, 2, 0, S.O.C. 14879, 73.5, , S], [122, 0, 3, Moore, Mr. Leonard Charles, male, , 0, 0, A4. 54510, 8.05, , S], [123, 0, 2, Nasser, Mr. Nicholas, male, 32.5, 1, 0, 237736, 30.0708, , C], [124, 1, 2, Webber, Miss. Susan, female, 32.5, 0, 0, 27267, 13, E101, S], [125, 0, 1, White, Mr. Percival Wayland, male, 54, 0, 1, 35281, 77.2875, D26, S], [126, 1, 3, Nicola-Yarred, Master. Elias, male, 12, 1, 0, 2651, 11.2417, , C], [127, 0, 3, McMahon, Mr. Martin, male, , 0, 0, 370372, 7.75, , Q], [128, 1, 3, Madsen, Mr. Fridtjof Arne, male, 24, 0, 0, C 17369, 7.1417, , S], [129, 1, 3, Peter, Miss. Anna, female, , 1, 1, 2668, 22.3583, F E69, C], [130, 0, 3, Ekstrom, Mr. Johan, male, 45, 0, 0, 347061, 6.975, , S], [131, 0, 3, Drazenoic, Mr. Jozef, male, 33, 0, 0, 349241, 7.8958, , C], [132, 0, 3, Coelho, Mr. Domingos Fernandeo, male, 20, 0, 0, SOTON/O.Q. 3101307, 7.05, , S], [133, 0, 3, Robins, Mrs. Alexander A (Grace Charity Laury), female, 47, 1, 0, A/5. 3337, 14.5, , S], [134, 1, 2, Weisz, Mrs. Leopold (Mathilde Francoise Pede), female, 29, 1, 0, 228414, 26, , S], [135, 0, 2, Sobey, Mr. Samuel James Hayden, male, 25, 0, 0, C.A. 29178, 13, , S], [136, 0, 2, Richard, Mr. Emile, male, 23, 0, 0, SC/PARIS 2133, 15.0458, , C], [137, 1, 1, Newsom, Miss. Helen Monypeny, female, 19, 0, 2, 11752, 26.2833, D47, S], [138, 0, 1, Futrelle, Mr. Jacques Heath, male, 37, 1, 0, 113803, 53.1, C123, S], [139, 0, 3, Osen, Mr. Olaf Elon, male, 16, 0, 0, 7534, 9.2167, , S], [140, 0, 1, Giglio, Mr. Victor, male, 24, 0, 0, PC 17593, 79.2, B86, C], [141, 0, 3, Boulos, Mrs. Joseph (Sultana), female, , 0, 2, 2678, 15.2458, , C], [142, 1, 3, Nysten, Miss. Anna Sofia, female, 22, 0, 0, 347081, 7.75, , S], [143, 1, 3, Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck), female, 24, 1, 0, STON/O2. 3101279, 15.85, , S], [144, 0, 3, Burke, Mr. Jeremiah, male, 19, 0, 0, 365222, 6.75, , Q], [145, 0, 2, Andrew, Mr. Edgardo Samuel, male, 18, 0, 0, 231945, 11.5, , S], [146, 0, 2, Nicholls, Mr. Joseph Charles, male, 19, 1, 1, C.A. 33112, 36.75, , S], [147, 1, 3, Andersson, Mr. August Edvard ("Wennerstrom"), male, 27, 0, 0, 350043, 7.7958, , S], [148, 0, 3, Ford, Miss. Robina Maggie "Ruby", female, 9, 2, 2, W./C. 6608, 34.375, , S], [149, 0, 2, Navratil, Mr. Michel ("Louis M Hoffman"), male, 36.5, 0, 2, 230080, 26, F2, S], [150, 0, 2, Byles, Rev. Thomas Roussel Davids, male, 42, 0, 0, 244310, 13, , S], [151, 0, 2, Bateman, Rev. Robert James, male, 51, 0, 0, S.O.P. 1166, 12.525, , S], [152, 1, 1, Pears, Mrs. Thomas (Edith Wearne), female, 22, 1, 0, 113776, 66.6, C2, S], [153, 0, 3, Meo, Mr. Alfonzo, male, 55.5, 0, 0, A.5. 11206, 8.05, , S], [154, 0, 3, van Billiard, Mr. Austin Blyler, male, 40.5, 0, 2, A/5. 851, 14.5, , S], [155, 0, 3, Olsen, Mr. Ole Martin, male, , 0, 0, Fa 265302, 7.3125, , S], [156, 0, 1, Williams, Mr. Charles Duane, male, 51, 0, 1, PC 17597, 61.3792, , C], [157, 1, 3, Gilnagh, Miss. Katherine "Katie", female, 16, 0, 0, 35851, 7.7333, , Q], [158, 0, 3, Corn, Mr. Harry, male, 30, 0, 0, SOTON/OQ 392090, 8.05, , S], [159, 0, 3, Smiljanic, Mr. Mile, male, , 0, 0, 315037, 8.6625, , S], [160, 0, 3, Sage, Master. Thomas Henry, male, , 8, 2, CA. 2343, 69.55, , S], [161, 0, 3, Cribb, Mr. John Hatfield, male, 44, 0, 1, 371362, 16.1, , S], [162, 1, 2, Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne), female, 40, 0, 0, C.A. 33595, 15.75, , S], [163, 0, 3, Bengtsson, Mr. John Viktor, male, 26, 0, 0, 347068, 7.775, , S], [164, 0, 3, Calic, Mr. Jovo, male, 17, 0, 0, 315093, 8.6625, , S], [165, 0, 3, Panula, Master. Eino Viljami, male, 1, 4, 1, 3101295, 39.6875, , S], [166, 1, 3, Goldsmith, Master. Frank John William "Frankie", male, 9, 0, 2, 363291, 20.525, , S], [167, 1, 1, Chibnall, Mrs. (Edith Martha Bowerman), female, , 0, 1, 113505, 55, E33, S], [168, 0, 3, Skoog, Mrs. William (Anna Bernhardina Karlsson), female, 45, 1, 4, 347088, 27.9, , S], [169, 0, 1, Baumann, Mr. John D, male, , 0, 0, PC 17318, 25.925, , S], [170, 0, 3, Ling, Mr. Lee, male, 28, 0, 0, 1601, 56.4958, , S], [171, 0, 1, Van der hoef, Mr. Wyckoff, male, 61, 0, 0, 111240, 33.5, B19, S], [172, 0, 3, Rice, Master. Arthur, male, 4, 4, 1, 382652, 29.125, , Q], [173, 1, 3, Johnson, Miss. Eleanor Ileen, female, 1, 1, 1, 347742, 11.1333, , S], [174, 0, 3, Sivola, Mr. Antti Wilhelm, male, 21, 0, 0, STON/O 2. 3101280, 7.925, , S], [175, 0, 1, Smith, Mr. James Clinch, male, 56, 0, 0, 17764, 30.6958, A7, C], [176, 0, 3, Klasen, Mr. Klas Albin, male, 18, 1, 1, 350404, 7.8542, , S], [177, 0, 3, Lefebre, Master. Henry Forbes, male, , 3, 1, 4133, 25.4667, , S], [178, 0, 1, Isham, Miss. Ann Elizabeth, female, 50, 0, 0, PC 17595, 28.7125, C49, C], [179, 0, 2, Hale, Mr. Reginald, male, 30, 0, 0, 250653, 13, , S], [180, 0, 3, Leonard, Mr. Lionel, male, 36, 0, 0, LINE, 0, , S], [181, 0, 3, Sage, Miss. Constance Gladys, female, , 8, 2, CA. 2343, 69.55, , S], [182, 0, 2, Pernot, Mr. Rene, male, , 0, 0, SC/PARIS 2131, 15.05, , C], [183, 0, 3, Asplund, Master. Clarence Gustaf Hugo, male, 9, 4, 2, 347077, 31.3875, , S], [184, 1, 2, Becker, Master. Richard F, male, 1, 2, 1, 230136, 39, F4, S], [185, 1, 3, Kink-Heilmann, Miss. Luise Gretchen, female, 4, 0, 2, 315153, 22.025, , S], [186, 0, 1, Rood, Mr. Hugh Roscoe, male, , 0, 0, 113767, 50, A32, S], [187, 1, 3, O'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey), female, , 1, 0, 370365, 15.5, , Q], [188, 1, 1, Romaine, Mr. Charles Hallace ("Mr C Rolmane"), male, 45, 0, 0, 111428, 26.55, , S], [189, 0, 3, Bourke, Mr. John, male, 40, 1, 1, 364849, 15.5, , Q], [190, 0, 3, Turcin, Mr. Stjepan, male, 36, 0, 0, 349247, 7.8958, , S], [191, 1, 2, Pinsky, Mrs. (Rosa), female, 32, 0, 0, 234604, 13, , S], [192, 0, 2, Carbines, Mr. William, male, 19, 0, 0, 28424, 13, , S], [193, 1, 3, Andersen-Jensen, Miss. Carla Christine Nielsine, female, 19, 1, 0, 350046, 7.8542, , S], [194, 1, 2, Navratil, Master. Michel M, male, 3, 1, 1, 230080, 26, F2, S], [195, 1, 1, Brown, Mrs. James Joseph (Margaret Tobin), female, 44, 0, 0, PC 17610, 27.7208, B4, C], [196, 1, 1, Lurette, Miss. Elise, female, 58, 0, 0, PC 17569, 146.5208, B80, C], [197, 0, 3, Mernagh, Mr. Robert, male, , 0, 0, 368703, 7.75, , Q], [198, 0, 3, Olsen, Mr. Karl Siegwart Andreas, male, 42, 0, 1, 4579, 8.4042, , S], [199, 1, 3, Madigan, Miss. Margaret "Maggie", female, , 0, 0, 370370, 7.75, , Q], [200, 0, 2, Yrois, Miss. Henriette ("Mrs Harbeck"), female, 24, 0, 0, 248747, 13, , S], [201, 0, 3, Vande Walle, Mr. Nestor Cyriel, male, 28, 0, 0, 345770, 9.5, , S], [202, 0, 3, Sage, Mr. Frederick, male, , 8, 2, CA. 2343, 69.55, , S], [203, 0, 3, Johanson, Mr. Jakob Alfred, male, 34, 0, 0, 3101264, 6.4958, , S], [204, 0, 3, Youseff, Mr. Gerious, male, 45.5, 0, 0, 2628, 7.225, , C], [205, 1, 3, Cohen, Mr. Gurshon "Gus", male, 18, 0, 0, A/5 3540, 8.05, , S], [206, 0, 3, Strom, Miss. Telma Matilda, female, 2, 0, 1, 347054, 10.4625, G6, S], [207, 0, 3, Backstrom, Mr. Karl Alfred, male, 32, 1, 0, 3101278, 15.85, , S], [208, 1, 3, Albimona, Mr. Nassef Cassem, male, 26, 0, 0, 2699, 18.7875, , C], [209, 1, 3, Carr, Miss. Helen "Ellen", female, 16, 0, 0, 367231, 7.75, , Q], [210, 1, 1, Blank, Mr. Henry, male, 40, 0, 0, 112277, 31, A31, C], [211, 0, 3, Ali, Mr. Ahmed, male, 24, 0, 0, SOTON/O.Q. 3101311, 7.05, , S], [212, 1, 2, Cameron, Miss. Clear Annie, female, 35, 0, 0, F.C.C. 13528, 21, , S], [213, 0, 3, Perkin, Mr. John Henry, male, 22, 0, 0, A/5 21174, 7.25, , S], [214, 0, 2, Givard, Mr. Hans Kristensen, male, 30, 0, 0, 250646, 13, , S], [215, 0, 3, Kiernan, Mr. Philip, male, , 1, 0, 367229, 7.75, , Q], [216, 1, 1, Newell, Miss. Madeleine, female, 31, 1, 0, 35273, 113.275, D36, C], [217, 1, 3, Honkanen, Miss. Eliina, female, 27, 0, 0, STON/O2. 3101283, 7.925, , S], [218, 0, 2, Jacobsohn, Mr. Sidney Samuel, male, 42, 1, 0, 243847, 27, , S], [219, 1, 1, Bazzani, Miss. Albina, female, 32, 0, 0, 11813, 76.2917, D15, C], [220, 0, 2, Harris, Mr. Walter, male, 30, 0, 0, W/C 14208, 10.5, , S], [221, 1, 3, Sunderland, Mr. Victor Francis, male, 16, 0, 0, SOTON/OQ 392089, 8.05, , S], [222, 0, 2, Bracken, Mr. James H, male, 27, 0, 0, 220367, 13, , S], [223, 0, 3, Green, Mr. George Henry, male, 51, 0, 0, 21440, 8.05, , S], [224, 0, 3, Nenkoff, Mr. Christo, male, , 0, 0, 349234, 7.8958, , S], [225, 1, 1, Hoyt, Mr. Frederick Maxfield, male, 38, 1, 0, 19943, 90, C93, S], [226, 0, 3, Berglund, Mr. Karl Ivar Sven, male, 22, 0, 0, PP 4348, 9.35, , S], [227, 1, 2, Mellors, Mr. William John, male, 19, 0, 0, SW/PP 751, 10.5, , S], [228, 0, 3, Lovell, Mr. John Hall ("Henry"), male, 20.5, 0, 0, A/5 21173, 7.25, , S], [229, 0, 2, Fahlstrom, Mr. Arne Jonas, male, 18, 0, 0, 236171, 13, , S], [230, 0, 3, Lefebre, Miss. Mathilde, female, , 3, 1, 4133, 25.4667, , S], [231, 1, 1, Harris, Mrs. Henry Birkhardt (Irene Wallach), female, 35, 1, 0, 36973, 83.475, C83, S], [232, 0, 3, Larsson, Mr. Bengt Edvin, male, 29, 0, 0, 347067, 7.775, , S], [233, 0, 2, Sjostedt, Mr. Ernst Adolf, male, 59, 0, 0, 237442, 13.5, , S], [234, 1, 3, Asplund, Miss. Lillian Gertrud, female, 5, 4, 2, 347077, 31.3875, , S], [235, 0, 2, Leyson, Mr. Robert William Norman, male, 24, 0, 0, C.A. 29566, 10.5, , S], [236, 0, 3, Harknett, Miss. Alice Phoebe, female, , 0, 0, W./C. 6609, 7.55, , S], [237, 0, 2, Hold, Mr. Stephen, male, 44, 1, 0, 26707, 26, , S], [238, 1, 2, Collyer, Miss. Marjorie "Lottie", female, 8, 0, 2, C.A. 31921, 26.25, , S], [239, 0, 2, Pengelly, Mr. Frederick William, male, 19, 0, 0, 28665, 10.5, , S], [240, 0, 2, Hunt, Mr. George Henry, male, 33, 0, 0, SCO/W 1585, 12.275, , S], [241, 0, 3, Zabour, Miss. Thamine, female, , 1, 0, 2665, 14.4542, , C], [242, 1, 3, Murphy, Miss. Katherine "Kate", female, , 1, 0, 367230, 15.5, , Q], [243, 0, 2, Coleridge, Mr. Reginald Charles, male, 29, 0, 0, W./C. 14263, 10.5, , S], [244, 0, 3, Maenpaa, Mr. Matti Alexanteri, male, 22, 0, 0, STON/O 2. 3101275, 7.125, , S], [245, 0, 3, Attalah, Mr. Sleiman, male, 30, 0, 0, 2694, 7.225, , C], [246, 0, 1, Minahan, Dr. William Edward, male, 44, 2, 0, 19928, 90, C78, Q], [247, 0, 3, Lindahl, Miss. Agda Thorilda Viktoria, female, 25, 0, 0, 347071, 7.775, , S], [248, 1, 2, Hamalainen, Mrs. William (Anna), female, 24, 0, 2, 250649, 14.5, , S], [249, 1, 1, Beckwith, Mr. Richard Leonard, male, 37, 1, 1, 11751, 52.5542, D35, S], [250, 0, 2, Carter, Rev. Ernest Courtenay, male, 54, 1, 0, 244252, 26, , S], [251, 0, 3, Reed, Mr. James George, male, , 0, 0, 362316, 7.25, , S], [25

read-contents produces a lazy seq, this means that items are produced on demand, lets try to grab only the first 10 lines with clojure.core/take.

In [4]:
(take 10 (read-contents "titanic.csv"))

[[PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked], [1, 0, 3, Braund, Mr. Owen Harris, male, 22, 1, 0, A/5 21171, 7.25, , S], [2, 1, 1, Cumings, Mrs. John Bradley (Florence Briggs Thayer), female, 38, 1, 0, PC 17599, 71.2833, C85, C], [3, 1, 3, Heikkinen, Miss. Laina, female, 26, 0, 0, STON/O2. 3101282, 7.925, , S], [4, 1, 1, Futrelle, Mrs. Jacques Heath (Lily May Peel), female, 35, 1, 0, 113803, 53.1, C123, S], [5, 0, 3, Allen, Mr. William Henry, male, 35, 0, 0, 373450, 8.05, , S], [6, 0, 3, Moran, Mr. James, male, , 0, 0, 330877, 8.4583, , Q], [7, 0, 1, McCarthy, Mr. Timothy J, male, 54, 0, 0, 17463, 51.8625, E46, S], [8, 0, 3, Palsson, Master. Gosta Leonard, male, 2, 3, 1, 349909, 21.075, , S], [9, 1, 3, Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg), female, 27, 0, 2, 347742, 11.1333, , S]]

In [5]:
;You could be implement it like this


(defn cons
    [head tail]
    (try (clojure.core/cons head tail)
        (catch Exception e
            (tail head))))

(defn first
    [coll]
    (try (clojure.core/first coll)
        (catch Exception e
            (coll true))))

(defn rest
    [coll]
    (try (clojure.core/rest coll)
        (catch Exception e
            (coll false)))) 

;  Had to redefine some clojure functions to know what to do with our lazy seq fn

(defmacro my-lazy-seq
    ([body]
     `(~(fn constructor [head tail]
          (fn inner [in]
              (cond
                  (= true in) (if head head (when tail (if (ifn? tail) (if (tail) (first (tail)) nil) tail)))
                  (= false in) (if head (when tail (if (ifn? tail) (if (tail) (tail) nil) tail)) (rest (tail)))
                  :else (constructor in #(constructor head tail))))) nil (fn ~'thunk [] ~body))))
        

(defn my-r
    "An implementation of range,
     but using my-lazy-seq instead."
    ([n]
     (my-lazy-seq
      (cons n (my-r (inc n)))))
    ([start end]
     (my-lazy-seq
      (if (= start end)
          []
          (my-r (inc start) end)))))

#_(loop [coll (my-r 0) t 0 acc []]
    (if (= t 10)
        acc
        (recur (rest coll) (inc t) (conj acc (first coll)))))

(defn my-take
    "An implementation of take"
    [n coll]
    (my-lazy-seq
     (when-not (zero? n)
         (let [f (first coll)]
             (cons f (my-take (dec n) (rest coll)))))))

(defn realize
    [lzy]
    (loop [x lzy acc []]
        (let [f (first x)]
            (if f
                (recur (rest x) (conj acc f))
                (seq acc)))))

WARNING: cons already refers to: #'clojure.core/cons in namespace: beaker_clojure_shell_5741a78b-609f-468e-b823-64137e74c63c, being replaced by: #'beaker_clojure_shell_5741a78b-609f-468e-b823-64137e74c63c/cons
WARNING: first already refers to: #'clojure.core/first in namespace: beaker_clojure_shell_5741a78b-609f-468e-b823-64137e74c63c, being replaced by: #'beaker_clojure_shell_5741a78b-609f-468e-b823-64137e74c63c/first
WARNING: rest already refers to: #'clojure.core/rest in namespace: beaker_clojure_shell_5741a78b-609f-468e-b823-64137e74c63c, being replaced by: #'beaker_clojure_shell_5741a78b-609f-468e-b823-64137e74c63c/rest

#'beaker_clojure_shell_5741a78b-609f-468e-b823-64137e74c63c/realize

In [6]:
(my-take 10 (read-contents "titanic.csv"))

beaker_clojure_shell_5741a78b_609f_468e_b823_64137e74c63c$my_lazy_seq$constructor__258$inner__259@65679473

Unfortunately my-lazy-seq is still pretty basic as if the last element of a recursive process was an integer, it wouldn't
throw an exception. Like clojure's lazy-seq does. Also you need to pass the seq to realize in order to display it.
Anyways:

In [7]:
(realize (my-take 10 (read-contents "titanic.csv")))

[[PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked], [1, 0, 3, Braund, Mr. Owen Harris, male, 22, 1, 0, A/5 21171, 7.25, , S], [2, 1, 1, Cumings, Mrs. John Bradley (Florence Briggs Thayer), female, 38, 1, 0, PC 17599, 71.2833, C85, C], [3, 1, 3, Heikkinen, Miss. Laina, female, 26, 0, 0, STON/O2. 3101282, 7.925, , S], [4, 1, 1, Futrelle, Mrs. Jacques Heath (Lily May Peel), female, 35, 1, 0, 113803, 53.1, C123, S], [5, 0, 3, Allen, Mr. William Henry, male, 35, 0, 0, 373450, 8.05, , S], [6, 0, 3, Moran, Mr. James, male, , 0, 0, 330877, 8.4583, , Q], [7, 0, 1, McCarthy, Mr. Timothy J, male, 54, 0, 0, 17463, 51.8625, E46, S], [8, 0, 3, Palsson, Master. Gosta Leonard, male, 2, 3, 1, 349909, 21.075, , S], [9, 1, 3, Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg), female, 27, 0, 2, 347742, 11.1333, , S]]

Meaning...

In [8]:
(=
 (seq (take 10 (read-contents "titanic.csv"))) ;; We use seq because the output of take is a LazySeq
 
 (realize (my-take 10 (read-contents "titanic.csv")))) ;; The output is a seq

true

Lets group it as a seq of maps.

In [9]:
(println (csv-data->maps (read-contents "titanic.csv")))

({Age 22, Fare 7.25, PassengerId 1, SibSp 1, Parch 0, Sex male, Survived 0, Ticket A/5 21171, Embarked S, Cabin , Pclass 3, Name Braund, Mr. Owen Harris} {Age 38, Fare 71.2833, PassengerId 2, SibSp 1, Parch 0, Sex female, Survived 1, Ticket PC 17599, Embarked C, Cabin C85, Pclass 1, Name Cumings, Mrs. John Bradley (Florence Briggs Thayer)} {Age 26, Fare 7.925, PassengerId 3, SibSp 0, Parch 0, Sex female, Survived 1, Ticket STON/O2. 3101282, Embarked S, Cabin , Pclass 3, Name Heikkinen, Miss. Laina} {Age 35, Fare 53.1, PassengerId 4, SibSp 1, Parch 0, Sex female, Survived 1, Ticket 113803, Embarked S, Cabin C123, Pclass 1, Name Futrelle, Mrs. Jacques Heath (Lily May Peel)} {Age 35, Fare 8.05, PassengerId 5, SibSp 0, Parch 0, Sex male, Survived 0, Ticket 373450, Embarked S, Cabin , Pclass 3, Name Allen, Mr. William Henry} {Age , Fare 8.4583, PassengerId 6, SibSp 0, Parch 0, Sex male, Survived 0, Ticket 330877, Embarked Q, Cabin , Pclass 3, Name Moran, Mr. James} {Age 54, Fare 51.8625, PassengerId 7, SibSp 0, Parch 0, Sex male, Survived 0, Ticket 17463, Embarked S, Cabin E46, Pclass 1, Name McCarthy, Mr. Timothy J} {Age 2, Fare 21.075, PassengerId 8, SibSp 3, Parch 1, Sex male, Survived 0, Ticket 349909, Embarked S, Cabin , Pclass 3, Name Palsson, Master. Gosta Leonard} {Age 27, Fare 11.1333, PassengerId 9, SibSp 0, Parch 2, Sex female, Survived 1, Ticket 347742, Embarked S, Cabin , Pclass 3, Name Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)} {Age 14, Fare 30.0708, PassengerId 10, SibSp 1, Parch 0, Sex female, Survived 1, Ticket 237736, Embarked C, Cabin , Pclass 2, Name Nasser, Mrs. Nicholas (Adele Achem)} {Age 4, Fare 16.7, PassengerId 11, SibSp 1, Parch 1, Sex female, Survived 1, Ticket PP 9549, Embarked S, Cabin G6, Pclass 3, Name Sandstrom, Miss. Marguerite Rut} {Age 58, Fare 26.55, PassengerId 12, SibSp 0, Parch 0, Sex female, Survived 1, Ticket 113783, Embarked S, Cabin C103, Pclass 1, Name Bonnell, Miss. Elizabeth} {Age 20, Fare 8.05, PassengerId 13, SibSp 0, Parch 0, Sex male, Survived 0, Ticket A/5. 2151, Embarked S, Cabin , Pclass 3, Name Saundercock, Mr. William Henry} {Age 39, Fare 31.275, PassengerId 14, SibSp 1, Parch 5, Sex male, Survived 0, Ticket 347082, Embarked S, Cabin , Pclass 3, Name Andersson, Mr. Anders Johan} {Age 14, Fare 7.8542, PassengerId 15, SibSp 0, Parch 0, Sex female, Survived 0, Ticket 350406, Embarked S, Cabin , Pclass 3, Name Vestrom, Miss. Hulda Amanda Adolfina} {Age 55, Fare 16, PassengerId 16, SibSp 0, Parch 0, Sex female, Survived 1, Ticket 248706, Embarked S, Cabin , Pclass 2, Name Hewlett, Mrs. (Mary D Kingcome) } {Age 2, Fare 29.125, PassengerId 17, SibSp 4, Parch 1, Sex male, Survived 0, Ticket 382652, Embarked Q, Cabin , Pclass 3, Name Rice, Master. Eugene} {Age , Fare 13, PassengerId 18, SibSp 0, Parch 0, Sex male, Survived 1, Ticket 244373, Embarked S, Cabin , Pclass 2, Name Williams, Mr. Charles Eugene} {Age 31, Fare 18, PassengerId 19, SibSp 1, Parch 0, Sex female, Survived 0, Ticket 345763, Embarked S, Cabin , Pclass 3, Name Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)} {Age , Fare 7.225, PassengerId 20, SibSp 0, Parch 0, Sex female, Survived 1, Ticket 2649, Embarked C, Cabin , Pclass 3, Name Masselmani, Mrs. Fatima} {Age 35, Fare 26, PassengerId 21, SibSp 0, Parch 0, Sex male, Survived 0, Ticket 239865, Embarked S, Cabin , Pclass 2, Name Fynney, Mr. Joseph J} {Age 34, Fare 13, PassengerId 22, SibSp 0, Parch 0, Sex male, Survived 1, Ticket 248698, Embarked S, Cabin D56, Pclass 2, Name Beesley, Mr. Lawrence} {Age 15, Fare 8.0292, PassengerId 23, SibSp 0, Parch 0, Sex female, Survived 1, Ticket 330923, Embarked Q, Cabin , Pclass 3, Name McGowan, Miss. Anna "Annie"} {Age 28, Fare 35.5, PassengerId 24, SibSp 0, Parch 0, Sex male, Survived 1, Ticket 113788, Embarked S, Cabin A6, Pclass 1, Name Sloper, Mr. William Thompson} {Age 8, Fare 21.075, PassengerId 25, SibSp 3, Parch 1, Sex female, Survived 0, Ticket 349909, Embarked S, Cabin , Pclass 3, Name Palsson, Miss. Torborg Danira} {Age 38, Fare 31.3875, PassengerId 26, SibSp 1, Parch 5, Sex female, Survived 1, Ticket 347077, Embarked S, Cabin , Pclass 3, Name Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)} {Age , Fare 7.225, PassengerId 27, SibSp 0, Parch 0, Sex male, Survived 0, Ticket 2631, Embarked C, Cabin , Pclass 3, Name Emir, Mr. Farred Chehab} {Age 19, Fare 263, PassengerId 28, SibSp 3, Parch 2, Sex male, Survived 0, Ticket 19950, Embarked S, Cabin C23 C25 C27, Pclass 1, Name Fortune, Mr. Charles Alexander} {Age , Fare 7.8792, PassengerId 29, SibSp 0, Parch 0, Sex female, Survived 1, Ticket 330959, Embarked Q, Cabin , Pclass 3, Name O'Dwyer, Miss. Ellen "Nellie"} {Age , Fare 7.8958, PassengerId 30, SibSp 0, Parch 0, Sex male, Survived 0, Ticket 349216, Embarked S, Cabin , Pclass 3, Name Todoroff, Mr. Lalio} {Age 40, Fare 27.7208, PassengerId 31, SibSp 0, Parch 0, Sex male, Survived 0, Ticket PC 17601, Embarked C, Cabin , Pclass 1, Name Uruchurtu, Don. Manuel E} {Age , Fare 146.5208, PassengerId 32, SibSp 1, Parch 0, Sex female, Survived 1, Ticket PC 17569, Embarked C, Cabin B78, Pclass 1, Name Spencer, Mrs. William Augustus (Marie Eugenie)} {Age , Fare 7.75, PassengerId 33, SibSp 0, Parch 0, Sex female, Survived 1, Ticket 335677, Embarked Q, Cabin , Pclass 3, Name Glynn, Miss. Mary Agatha} {Age 66, Fare 10.5, PassengerId 34, SibSp 0, Parch 0, Sex male, Survived 0, Ticket C.A. 24579, Embarked S, Cabin , Pclass 2, Name Wheadon, Mr. Edward H} {Age 28, Fare 82.1708, PassengerId 35, SibSp 1, Parch 0, Sex male, Survived 0, Ticket PC 17604, Embarked C, Cabin , Pclass 1, Name Meyer, Mr. Edgar Joseph} {Age 42, Fare 52, PassengerId 36, SibSp 1, Parch 0, Sex male, Survived 0, Ticket 113789, Embarked S, Cabin , Pclass 1, Name Holverson, Mr. Alexander Oskar} {Age , Fare 7.2292, PassengerId 37, SibSp 0, Parch 0, Sex male, Survived 1, Ticket 2677, Embarked C, Cabin , Pclass 3, Name Mamee, Mr. Hanna} {Age 21, Fare 8.05, PassengerId 38, SibSp 0, Parch 0, Sex male, Survived 0, Ticket A./5. 2152, Embarked S, Cabin , Pclass 3, Name Cann, Mr. Ernest Charles} {Age 18, Fare 18, PassengerId 39, SibSp 2, Parch 0, Sex female, Survived 0, Ticket 345764, Embarked S, Cabin , Pclass 3, Name Vander Planke, Miss. Augusta Maria} {Age 14, Fare 11.2417, PassengerId 40, SibSp 1, Parch 0, Sex female, Survived 1, Ticket 2651, Embarked C, Cabin , Pclass 3, Name Nicola-Yarred, Miss. Jamila} {Age 40, Fare 9.475, PassengerId 41, SibSp 1, Parch 0, Sex female, Survived 0, Ticket 7546, Embarked S, Cabin , Pclass 3, Name Ahlin, Mrs. Johan (Johanna Persdotter Larsson)} {Age 27, Fare 21, PassengerId 42, SibSp 1, Parch 0, Sex female, Survived 0, Ticket 11668, Embarked S, Cabin , Pclass 2, Name Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)} {Age , Fare 7.8958, PassengerId 43, SibSp 0, Parch 0, Sex male, Survived 0, Ticket 349253, Embarked C, Cabin , Pclass 3, Name Kraeff, Mr. Theodor} {Age 3, Fare 41.5792, PassengerId 44, SibSp 1, Parch 2, Sex female, Survived 1, Ticket SC/Paris 2123, Embarked C, Cabin , Pclass 2, Name Laroche, Miss. Simonne Marie Anne Andree} {Age 19, Fare 7.8792, PassengerId 45, SibSp 0, Parch 0, Sex female, Survived 1, Ticket 330958, Embarked Q, Cabin , Pclass 3, Name Devaney, Miss. Margaret Delia} {Age , Fare 8.05, PassengerId 46, SibSp 0, Parch 0, Sex male, Survived 0, Ticket S.C./A.4. 23567, Embarked S, Cabin , Pclass 3, Name Rogers, Mr. William John} {Age , Fare 15.5, PassengerId 47, SibSp 1, Parch 0, Sex male, Survived 0, Ticket 370371, Embarked Q, Cabin , Pclass 3, Name Lennon, Mr. Denis} {Age , Fare 7.75, PassengerId 48, SibSp 0, Parch 0, Sex female, Survived 1, Ticket 14311, Embarked Q, Cabin , Pclass 3, Name O'Driscoll, Miss. Bridget} {Age , Fare 21.6792, PassengerId 49, SibSp 2, Parch 0, Sex male, Survived 0, Ticket 2662, Embarked C, Cabin , Pclass 3, Name Samaan, Mr. Youssef} {Age 18, Fare 17.8, PassengerId 50, SibSp 1, Parch 0, Sex female, Survived 0, Ticket 349237, Embarked S, Cabin , Pclass 3, Name Arnold-Franchi, Mrs. Josef (Josefine Franchi)} {Age 7, Fare 39.6875, PassengerId 51, SibSp 4, Parch 1, Sex male, Survived 0, Ticket 3101295, Embarked S, Cabin , Pclass 3, Name Panula, Master. Juha Niilo} {Age 21, Fare 7.8, PassengerId 52, SibSp 0, Parch 0, Sex male, Survived 0, Ticket A/4. 39886, Embarked S, Cabin , Pclass 3, Name Nosworthy, Mr. Richard Cater} {Age 49, Fare 76.7292, PassengerId 53, SibSp 1, Parch 0, Sex female, Survived 1, Ticket PC 17572, Embarked C, Cabin D33, Pclass 1, Name Harper, Mrs. Henry Sleeper (Myna Haxtun)} {Age 29, Fare 26, PassengerId 54, SibSp 1, Parch 0, Sex female, Survived 1, Ticket 2926, Embarked S, Cabin , Pclass 2, Name Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)} {Age 65, Fare 61.9792, PassengerId 55, SibSp 0, Parch 1, Sex male, Survived 0, Ticket 113509, Embarked C, Cabin B30, Pclass 1, Name Ostby, Mr. Engelhart Cornelius} {Age , Fare 35.5, PassengerId 56, SibSp 0, Parch 0, Sex male, Survived 1, Ticket 19947, Embarked S, Cabin C52, Pclass 1, Name Woolner, Mr. Hugh} {Age 21, Fare 10.5, PassengerId 57, SibSp 0, Parch 0, Sex female, Survived 1, Ticket C.A. 31026, Embarked S, Cabin , Pclass 2, Name Rugg, Miss. Emily} {Age 28.5, Fare 7.2292, PassengerId 58, SibSp 0, Parch 0, Sex male, Survived 0, Ticket 2697, Embarked C, Cabin , Pclass 3, Name Novel, Mr. Mansouer} {Age 5, Fare 27.75, PassengerId 59, SibSp 1, Parch 2, Sex female, Survived 1, Ticket C.A. 34651, Embarked S, Cabin , Pclass 2, Name West, Miss. Constance Mirium} {Age 11, Fare 46.9, PassengerId 60, SibSp 5, Parch 2, Sex male, Survived 0, Ticket CA 2144, Embarked S, Cabin , Pclass 3, Name Goodwin, Master. William Frederick} {Age 22, Fare 7.2292, PassengerId 61, SibSp 0, Parch 0, Sex male, Survived 0, Ticket 2669, Embarked C, Cabin , Pclass 3, Name Sirayanian, Mr. Orsen} {Age 38, Fare 80, PassengerId 62, SibSp 0, Parch 0, Sex female, Survived 1, Ticket 113572, Embarked , Cabin B28, Pclass 1, Name Icard, Miss. Amelie} {Age 45, Fare 83.475, PassengerId 63, SibSp 1, Parch 0, Sex male, Survived 0, Ticket 36973, Embarked S, Cabin C83, Pclass 1, Name Harris, Mr. Henry Birkhardt} {Age 4, Fare 27.9, PassengerId 64, SibSp 3, Parch 2, Sex male, Survived 0, Ticket 347088, Embarked S, Cabin , Pclass 3, Name Skoog, Master. Harald} {Age , Fare 27.7208, PassengerId 65, SibSp 0, Parch 0, Sex male, Survived 0, Ticket PC 17605, Embarked C, Cabin , Pclass 1, Name Stewart, Mr. Albert A} {Age , Fare 15.2458, PassengerId 66, SibSp 1, Parch 1, Sex male, Survived 1, Ticket 2661, Embarked C, Cabin , Pclass 3, Name Moubarek, Master. Gerios} {Age 29, Fare 10.5, PassengerId 67, SibSp 0, Parch 0, Sex female, Survived 1, Ticket C.A. 29395, Embarked S, Cabin F33, Pclass 2, Name Nye, Mrs. (Elizabeth Ramell)} {Age 19, Fare 8.1583, PassengerId 68, SibSp 0, Parch 0, Sex male, Survived 0, Ticket S.P. 3464, Embarked S, Cabin , Pclass 3, Name Crease, Mr. Ernest James} {Age 17, Fare 7.925, PassengerId 69, SibSp 4, Parch 2, Sex female, Survived 1, Ticket 3101281, Embarked S, Cabin , Pclass 3, Name Andersson, Miss. Erna Alexandra} {Age 26, Fare 8.6625, PassengerId 70, SibSp 2, Parch 0, Sex male, Survived 0, Ticket 315151, Embarked S, Cabin , Pclass 3, Name Kink, Mr. Vincenz} {Age 32, Fare 10.5, PassengerId 71, SibSp 0, Parch 0, Sex male, Survived 0, Ticket C.A. 33111, Embarked S, Cabin , Pclass 2, Name Jenkin, Mr. Stephen Curnow} {Age 16, Fare 46.9, PassengerId 72, SibSp 5, Parch 2, Sex female, Survived 0, Ticket CA 2144, Embarked S, Cabin , Pclass 3, Name Goodwin, Miss. Lillian Amy} {Age 21, Fare 73.5, PassengerId 73, SibSp 0, Parch 0, Sex male, Survived 0, Ticket S.O.C. 14879, Embarked S, Cabin , Pclass 2, Name Hood, Mr. Ambrose Jr} {Age 26, Fare 14.4542, PassengerId 74, SibSp 1, Parch 0, Sex male, Survived 0, Ticket 2680, Embarked C, Cabin , Pclass 3, Name Chronopoulos, Mr. Apostolos} {Age 32, Fare 56.4958, PassengerId 75, SibSp 0, Parch 0, Sex male, Survived 1, Ticket 1601, Embarked S, Cabin , Pclass 3, Name Bing, Mr. Lee} {Age 25, Fare 7.65, PassengerId 76, SibSp 0, Parch 0, Sex male, Survived 0, Ticket 348123, Embarked S, Cabin F G73, Pclass 3, Name Moen, Mr. Sigurd Hansen} {Age , Fare 7.8958, PassengerId 77, SibSp 0, Parch 0, Sex male, Survived 0, Ticket 349208, Embarked S, Cabin , Pclass 3, Name Staneff, Mr. Ivan} {Age , Fare 8.05, PassengerId 78, SibSp 0, Parch 0, Sex male, Survived 0, Ticket 374746, Embarked S, Cabin , Pclass 3, Name Moutal, Mr. Rahamin Haim} {Age 0.83, Fare 29, PassengerId 79, SibSp 0, Parch 2, Sex male, Survived 1, Ticket 248738, Embarked S, Cabin , Pclass 2, Name Caldwell, Master. Alden Gates} {Age 30, Fare 12.475, PassengerId 80, SibSp 0, Parch 0, Sex female, Survived 1, Ticket 364516, Embarked S, Cabin , Pclass 3, Name Dowdell, Miss. Elizabeth} {Age 22, Fare 9, PassengerId 81, SibSp 0, Parch 0, Sex male, Survived 0, Ticket 345767, Embarked S, Cabin , Pclass 3, Name Waelens, Mr. Achille} {Age 29, Fare 9.5, PassengerId 82, SibSp 0, Parch 0, Sex male, Survived 1, Ticket 345779, Embarked S, Cabin , Pclass 3, Name Sheerlinck, Mr. Jan Baptist} {Age , Fare 7.7875, PassengerId 83, SibSp 0, Parch 0, Sex female, Survived 1, Ticket 330932, Embarked Q, Cabin , Pclass 3, Name McDermott, Miss. Brigdet Delia} {Age 28, Fare 47.1, PassengerId 84, SibSp 0, Parch 0, Sex male, Survived 0, Ticket 113059, Embarked S, Cabin , Pclass 1, Name Carrau, Mr. Francisco M} {Age 17, Fare 10.5, PassengerId 85, SibSp 0, Parch 0, Sex female, Survived 1, Ticket SO/C 14885, Embarked S, Cabin , Pclass 2, Name Ilett, Miss. Bertha} {Age 33, Fare 15.85, PassengerId 86, SibSp 3, Parch 0, Sex female, Survived 1, Ticket 3101278, Embarked S, Cabin , Pclass 3, Name Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)} {Age 16, Fare 34.375, PassengerId 87, SibSp 1, Parch 3, Sex male, Survived 0, Ticket W./C. 6608, Embarked S, Cabin , Pclass 3, Name Ford, Mr. William Neal} {Age , Fare 8.05, PassengerId 88, SibSp 0, Parch 0, Sex male, Survived 0, Ticket SOTON/OQ 392086, Embarked S, Cabin , Pclass 3, Name Slocovski, Mr. Selman Francis} {Age 23, Fare 263, PassengerId 89, SibSp 3, Parch 2, Sex female, Survived 1, Ticket 19950, Embarked S, Cabin C23 C25 C27, Pclass 1, Name Fortune, Miss. Mabel Helen} {Age 24, Fare 8.05, PassengerId 90, SibSp 0, Parch 0, Sex male, Survived 0, Ticket 343275, Embarked S, Cabin , Pclass 3, Name Celotti, Mr. Francesco} {Age 29, Fare 8.05, PassengerId 91, SibSp 0, Parch 0, Sex male, Survived 0, Ticket 343276, Embarked S, Cabin , Pclass 3, Name Christmann, Mr. Emil} {Age 20, Fare 7.8542, PassengerId 92, SibSp 0, Parch 0, Sex male, Survived 0, Ticket 347466, Embarked S, Cabin , Pclass 3, Name Andreasson, Mr. Paul Edvin} {Age 46, Fare 61.175, PassengerId 93, SibSp 1, Parch 0, Sex male, Survived 0, Ticket W.E.P. 5734, Embarked S, Cabin E31, Pclass 1, Name Chaffee, Mr. Herbert Fuller} {Age 26, Fare 20.575, PassengerId 94, SibSp 1, Parch 2, Sex male, Survived 0, Ticket C.A. 2315, Embarked S, Cabin , Pclass 3, Name Dean, Mr. Bertram Frank} {Age 59, Fare 7.25, PassengerId 95, SibSp 0, Parch 0, Sex male, Survived 0, Ticket 364500, Embarked S, Cabin , Pclass 3, Name Coxon, Mr. Daniel} {Age , Fare 8.05, PassengerId 96, SibSp 0, Parch 0, Sex male, Survived 0, Ticket 374910, Embarked S, Cabin , Pclass 3, Name Shorney, Mr. Charles Joseph} {Age 71, Fare 34.6542, PassengerId 97, SibSp 0, Parch 0, Sex male, Survived 0, Ticket PC 17754, Embarked C, Cabin A5, Pclass 1, Name Goldschmidt, Mr. George B} {Age 23, Fare 63.3583, PassengerId 98, SibSp 0, Parch 1, Sex male, Survived 1, Ticket PC 17759, Embarked C, Cabin D10 D12, Pclass 1, Name Greenfield, Mr. William Bertram} {Age 34, Fare 23, PassengerId 99, SibSp 0, Parch 1, Sex female, Survived 1, Ticket 231919, Embarked S, Cabin , Pclass 2, Name Doling, Mrs. John T (Ada Julia Bone)} {Age 34, Fare 26, PassengerId 100, SibSp 1, Parch 0, Sex male, Survived 0, Ticket 244367, Embarked S, Cabin , Pclass 2, Name Kantor, Mr. Sinai} {Age 28, Fare 7.8958, PassengerId 101, SibSp 0, Parch 0, Sex female, Survived 0, Ticket 349245, Embarked S, Cabin , Pclass 3, Name Petranec, Miss. Matilda} {Age , Fare 7.8958, PassengerId 102, SibSp 0, Parch 0, Sex male, Survived 0, Ticket 349215, Embarked S, Cabin , Pclass 3, Name Petroff, Mr. Pastcho ("Pentcho")} {Age 21, Fare 77.2875, PassengerId 103, SibSp 0, Parch 1, Sex male, Survived 0, Ticket 35281, Embarked S, Cabin D26, Pclass 1, Name White, Mr. Richard Frasar} {Age 33, Fare 8.6542, PassengerId 104, SibSp 0, Parch 0, Sex male, Survived 0, Ticket 7540, Embarked S, Cabin , Pclass 3, Name Johansson, Mr. Gustaf Joel} {Age 37, Fare 7.925, PassengerId 105, SibSp 2, Parch 0, Sex male, Survived 0, Ticket 3101276, Embarked S, Cabin , Pclass 3, Name Gustafsson, Mr. Anders Vilhelm} {Age 28, Fare 7.8958, PassengerId 106, SibSp 0, Parch 0, Sex male, Survived 0, Ticket 349207, Embarked S, Cabin , Pclass 3, Name Mionoff, Mr. Stoytcho} {Age 21, Fare 7.65, PassengerId 107, SibSp 0, Parch 0, Sex female, Survived 1, Ticket 343120, Embarked S, Cabin , Pclass 3, Name Salkjelsvik, Miss. Anna Kristine} {Age , Fare 7.775, PassengerId 108, SibSp 0, Parch 0, Sex male, Survived 1, Ticket 312991, Embarked S, Cabin , Pclass 3, Name Moss, Mr. Albert Johan} {Age 38, Fare 7.8958, PassengerId 109, SibSp 0, Parch 0, Sex male, Survived 0, Ticket 349249, Embarked S, Cabin , Pclass 3, Name Rekic, Mr. Tido} {Age , Fare 24.15, PassengerId 110, SibSp 1, Parch 0, Sex female, Survived 1, Ticket 371110, Embarked Q, Cabin , Pclass 3, Name Moran, Miss. Bertha} {Age 47, Fare 52, PassengerId 111, SibSp 0, Parch 0, Sex male, Survived 0, Ticket 110465, Embarked S, Cabin C110, Pclass 1, Name Porter, Mr. Walter Chamberlain} {Age 14.5, Fare 14.4542, PassengerId 112, SibSp 1, Parch 0, Sex female, Survived 0, Ticket 2665, Embarked C, Cabin , Pclass 3, Name Zabour, Miss. Hileni} {Age 22, Fare 8.05, PassengerId 113, SibSp 0, Parch 0, Sex male, Survived 0, Ticket 324669, Embarked S, Cabin , Pclass 3, Name Barton, Mr. David John} {Age 20, Fare 9.825, PassengerId 114, SibSp 1, Parch 0, Sex female, Survived 0, Ticket 4136, Embarked S, Cabin , Pclass 3, Name Jussila, Miss. Katriina} {Age 17, Fare 14.4583, PassengerId 115, SibSp 0, Parch 0, Sex female, Survived 0, Ticket 2627, Embarked C, Cabin , Pclass 3, Name Attalah, Miss. Malake} {Age 21, Fare 7.925, PassengerId 116, SibSp 0, Parch 0, Sex male, Survived 0, Ticket STON/O 2. 3101294, Embarked S, Cabin , Pclass 3, Name Pekoniemi, Mr. Edvard} {Age 70.5, Fare 7.75, PassengerId 117, SibSp 0, Parch 0, Sex male, Survived 0, Ticket 370369, Embarked Q, Cabin , Pclass 3, Name Connors, Mr. Patrick} {Age 29, Fare 21, PassengerId 118, SibSp 1, Parch 0, Sex male, Survived 0, Ticket 11668, Embarked S, Cabin , Pclass 2, Name Turpin, Mr. William John Robert} {Age 24, Fare 247.5208, PassengerId 119, SibSp 0, Parch 1, Sex male, Survived 0, Ticket PC 17558, Embarked C, Cabin B58 B60, Pclass 1, Name Baxter, Mr. Quigg Edmond} {Age 2, Fare 31.275, PassengerId 120, SibSp 4, Parch 2, Sex female, Survived 0, Ticket 347082, Embarked S, Cabin , Pclass 3, Name Andersson, Miss. Ellis Anna Maria} {Age 21, Fare 73.5, PassengerId 121, SibSp 2, Parch 0, Sex male, Survived 0, Ticket S.O.C. 14879, Embarked S, Cabin , Pclass 2, Name Hickman, Mr. Stanley George} {Age , Fare 8.05, PassengerId 122, SibSp 0, Parch 0, Sex male, Survived 0, Ticket A4. 54510, Embarked S, Cabin , Pclass 3, Name Moore, Mr. Leonard Charles} {Age 32.5, Fare 30.0708, PassengerId 123, SibSp 1, Parch 0, Sex male, Survived 0, Ticket 237736, Embarked C, Cabin , Pclass 2, Name Nasser, Mr. Nicholas} {Age 32.5, Fare 13, PassengerId 124, SibSp 0, Parch 0, Sex female, Survived 1, Ticket 27267, Embarked S, Cabin E101, Pclass 2, Name Webber, Miss. Susan} {Age 54, Fare 77.2875, PassengerId 125, SibSp 0, Parch 1, Sex male, Survived 0, Ticket 35281, Embarked S, Cabin D26, Pclass 1, Name White, Mr. Percival Wayland} {Age 12, Fare 11.2417, PassengerId 126, SibSp 1, Parch 0, Sex male, Survived 1, Ticket 2651, Embarked C, Cabin , Pclass 3, Name Nicola-Yarred, Master. Elias} {Age , Fare 7.75, PassengerId 127, SibSp 0, Parch 0, Sex male, Survived 0, Ticket 370372, E

null

Now we will store it.

In [10]:
; Note: store already takes care for us of reading the contents
;       and grouping them as a seq of maps. Also it writes a
;       .txt file with the seq as a string, prepending the name
;       of the dataset passed to the extension

(store-seq "titanic.csv")

done

# Web Scraping with Clojure

Clojure is designed to interop with its host language, as such you can use a Java library from Clojure. I picked jsoup for webscraping.

In [11]:
%classpath add jar ./jsoup-1.18.1.jar

(import 'org.jsoup.Jsoup)

class org.jsoup.Jsoup

Parse html

In [12]:
(defn parse-html
    [url]
    (.get (Jsoup/connect url)))

(def parsed-html (parse-html "https://en.wikipedia.org/wiki/Passengers_of_the_Titanic#Passenger_list"))

#'beaker_clojure_shell_5741a78b-609f-468e-b823-64137e74c63c/parsed-html

In [13]:
parsed-html

<!DOCTYPE html>
<html class="client-nojs vector-feature-language-in-header-enabled vector-feature-language-in-main-page-header-disabled vector-feature-sticky-header-disabled vector-feature-page-tools-pinned-disabled vector-feature-toc-pinned-clientpref-1 vector-feature-main-menu-pinned-disabled vector-feature-limited-width-clientpref-1 vector-feature-limited-width-content-enabled vector-feature-custom-font-size-clientpref-1 vector-feature-appearance-pinned-clientpref-1 vector-feature-night-mode-enabled skin-theme-clientpref-day vector-toc-available" lang="en" dir="ltr">
 <head>
  <meta charset="UTF-8" />
  <title>Passengers of the Titanic - Wikipedia</title>
  <script>(function(){var className="client-js vector-feature-language-in-header-enabled vector-feature-language-in-main-page-header-disabled vector-feature-sticky-header-disabled vector-feature-page-tools-pinned-disabled vector-feature-toc-pinned-clientpref-1 vector-feature-main-menu-pinned-disabled vector-feature-limited-width-clientpref-1 vector-feature-limited-width-content-enabled vector-feature-custom-font-size-clientpref-1 vector-feature-appearance-pinned-clientpref-1 vector-feature-night-mode-enabled skin-theme-clientpref-day vector-toc-available";var cookie=document.cookie.match(/(?:^|; )enwikimwclientpreferences=([^;]+)/);if(cookie){cookie[1].split('%2C').forEach(function(pref){className=className.replace(new RegExp('(^| )'+pref.replace(/-clientpref-\w+$|[^\w-]+/g,'')+'-clientpref-\\w+( |$)'),'$1'+pref+'$2');});}document.documentElement.className=className;}());RLCONF={"wgBreakFrames":false,"wgSeparatorTransformTable":["",""],"wgDigitTransformTable":["",""],"wgDefaultDateFormat":"dmy",
"wgMonthNames":["","January","February","March","April","May","June","July","August","September","October","November","December"],"wgRequestId":"af2b83b4-2885-4fbd-8365-65f81be80a37","wgCanonicalNamespace":"","wgCanonicalSpecialPageName":false,"wgNamespaceNumber":0,"wgPageName":"Passengers_of_the_Titanic","wgTitle":"Passengers of the Titanic","wgCurRevisionId":1258325515,"wgRevisionId":1258325515,"wgArticleId":11965648,"wgIsArticle":true,"wgIsRedirect":false,"wgAction":"view","wgUserName":null,"wgUserGroups":["*"],"wgCategories":["Webarchive template wayback links","All articles with dead external links","Articles with dead external links from September 2018","Articles with permanently dead external links","CS1 French-language sources (fr)","CS1 maint: multiple names: authors list","CS1 maint: postscript","Articles with short description","Short description is different from Wikidata","Use British English from April 2012","Use dmy dates from April 2019",
"All articles needing additional references","Articles needing additional references from July 2023","All articles with unsourced statements","Articles with unsourced statements from November 2018","Pages using multiple image with auto scaled images","Commons category link is on Wikidata","RMS Titanic's crew and passengers","Lists of victims"],"wgPageViewLanguage":"en","wgPageContentLanguage":"en","wgPageContentModel":"wikitext","wgRelevantPageName":"Passengers_of_the_Titanic","wgRelevantArticleId":11965648,"wgIsProbablyEditable":true,"wgRelevantPageIsProbablyEditable":true,"wgRestrictionEdit":[],"wgRestrictionMove":[],"wgNoticeProject":"wikipedia","wgCiteReferencePreviewsActive":false,"wgFlaggedRevsParams":{"tags":{"status":{"levels":1}}},"wgMediaViewerOnClick":true,"wgMediaViewerEnabledByDefault":true,"wgPopupsFlags":0,"wgVisualEditor":{"pageLanguageCode":"en","pageLanguageDir":"ltr","pageVariantFallbacks":"en"},"wgMFDisplayWikibaseDescriptions":{"search":true,"watchlist":true,
"tagline":false,"nearby":true},"wgWMESchemaEditAttemptStepOversample":false,"wgWMEPageLength":200000,"wgRelatedArticlesCompat":[],"wgEditSubmitButtonLabelPublish":true,"wgULSPosition":"interlanguage","wgULSisCompactLinksEnabled":false,"wgVector2022LanguageInHeader":true,"wgULSisLanguageSelectorEmpty":false,"wgWikibaseItemId":"Q462554","wgCheckUserClientHintsHeadersJsApi":["brands","architecture","bitness","fullVersionList","mobile","model","platform","platformVersion"],"GEHomepageSuggestedEditsEnableTopics":true,"wgGETopicsMatchModeEnabled":false,"wgGEStructuredTaskRejectionReasonTextInputEnabled":false,"wgGELevelingUpEnabledForUser":false};RLSTATE={"ext.globalCssJs.user.styles":"ready","site.styles":"ready","user.styles":"ready","ext.globalCssJs.user":"ready","user":"ready","user.options":"loading","ext.cite.styles":"ready","skins.vector.search.codex.styles":"ready","skins.vector.styles":"ready","skins.vector.icons":"ready","jquery.tablesorter.styles":"ready",
"jquery.makeCollapsible.styles":"ready","ext.wikimediamessages.styles":"ready","ext.visualEditor.desktopArticleTarget.noscript":"ready","ext.uls.interlanguage":"ready","wikibase.client.init":"ready","ext.wikimediaBadges":"ready"};RLPAGEMODULES=["ext.cite.ux-enhancements","mediawiki.page.media","site","mediawiki.page.ready","jquery.tablesorter","jquery.makeCollapsible","mediawiki.toc","skins.vector.js","ext.centralNotice.geoIP","ext.centralNotice.startUp","ext.gadget.ReferenceTooltips","ext.gadget.switcher","ext.urlShortener.toolbar","ext.centralauth.centralautologin","mmv.bootstrap","ext.popups","ext.visualEditor.desktopArticleTarget.init","ext.visualEditor.targetLoader","ext.echo.centralauth","ext.eventLogging","ext.wikimediaEvents","ext.navigationTiming","ext.uls.interface","ext.cx.eventlogging.campaigns","ext.cx.uls.quick.actions","wikibase.client.vector-2022","ext.checkUser.clientHints","ext.quicksurveys.init","ext.growthExperiments.SuggestedEditSession"];
  </script>
  <script>(RLQ=window.RLQ||[]).push(function(){mw.loader.impl(function(){return["user.options@12s5i",function($,jQuery,require,module){mw.user.tokens.set({"patrolToken":"+\\","watchToken":"+\\","csrfToken":"+\\"});
}];});});
  </script>
  <link rel="stylesheet" href="/w/load.php?lang=en&amp;modules=ext.cite.styles%7Cext.uls.interlanguage%7Cext.visualEditor.desktopArticleTarget.noscript%7Cext.wikimediaBadges%7Cext.wikimediamessages.styles%7Cjquery.makeCollapsible.styles%7Cjquery.tablesorter.styles%7Cskins.vector.icons%2Cstyles%7Cskins.vector.search.codex.styles%7Cwikibase.client.init&amp;only=styles&amp;skin=vector-2022" />
  <script async="" src="/w/load.php?lang=en&amp;modules=startup&amp;only=scripts&amp;raw=1&amp;skin=vector-2022"></script>
  <meta name="ResourceLoaderDynamicStyles" content="" />
  <link rel="stylesheet" href="/w/load.php?lang=en&amp;modules=site.styles&amp;only=styles&amp;skin=vector-2022" />
  <meta name="generator" content="MediaWiki 1.44.0-wmf.6" />
  <meta name="referrer" content="origin" />
  <meta name="referrer" content="origin-when-cross-origin" />
  <meta name="robots" content="max-image-preview:standard" />
  <meta name="format-detection" content="telephone=no" />
  <meta property="og:image" content="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/RMS_Titanic_3.jpg/1200px-RMS_Titanic_3.jpg" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="882" />
  <meta property="og:image" content="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/RMS_Titanic_3.jpg/800px-RMS_Titanic_3.jpg" />
  <meta property="og:image:width" content="800" />
  <meta property="og:image:height" content="588" />
  <meta property="og:image" content="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/RMS_Titanic_3.jpg/640px-RMS_Titanic_3.jpg" />
  <meta property="og:image:width" content="640" />
  <meta property="og:image:height" content="471" />
  <meta name="viewport" content="width=1120" />
  <meta property="og:title" content="Passengers of the Titanic - Wikipedia" />
  <meta property="og:type" content="website" />
  <link rel="preconnect" href="//upload.wikimedia.org" />
  <link rel="alternate" media="only screen and (max-width: 640px)" href="//en.m.wikipedia.org/wiki/Passengers_of_the_Titanic" />
  <link rel="alternate" type="application/x-wiki" title="Edit this page" href="/w/index.php?title=Passengers_of_the_Titanic&amp;action=edit" />
  <link rel="apple-touch-icon" href="/static/apple-touch/wikipedia.png" />
  <link rel="icon" href="/static/favicon/wikipedia.ico" />
  <link rel="search" type="application/opensearchdescription+xml" href="/w/rest.php/v1/search" title="Wikipedia (en)" />
  <link rel="EditURI" type="application/rsd+xml" href="//en.wikipedia.org/w/api.php?action=rsd" />
  <link rel="canonical" href="https://en.wikipedia.org/wiki/Passengers_of_the_Titanic" />
  <link rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/deed.en" />
  <link rel="alternate" type="application/atom+xml" title="Wikipedia Atom feed" href="/w/index.php?title=Special:RecentChanges&amp;feed=atom" />
  <link rel="dns-prefetch" href="//meta.wikimedia.org" />
  <link rel="dns-prefetch" href="login.wikimedia.org" />
 </head>
 <body class="skin--responsive skin-vector skin-vector-search-vue mediawiki ltr sitedir-ltr mw-hide-empty-elt ns-0 ns-subject mw-editable page-Passengers_of_the_Titanic rootpage-Passengers_of_the_Titanic skin-vector-2022 action-view">
  <a class="mw-jump-link" href="#bodyContent">Jump to content</a>
  <div class="vector-header-container">
   <header class="vector-header mw-header">
    <div class="vector-header-start">
     <nav class="vector-main-menu-landmark" aria-label="Site">
      <div id="vector-main-menu-dropdown" class="vector-dropdown vector-main-menu-dropdown vector-button-flush-left vector-button-flush-right">
       <input type="checkbox" id="vector-main-menu-dropdown-checkbox" role="button" aria-haspopup="true" data-event-name="ui.dropdown-vector-main-menu-dropdown" class="vector-dropdown-checkbox " aria-label="Main menu" />
       <label id="vector-main-menu-dropdown-label" for="vector-main-menu-dropdown-checkbox" class="vector-dropdown-label cdx-button cdx-button--fake-button cdx-button--fake-button--enabled cdx-button--weight-quiet cdx-button--icon-only " aria-hidden="true"><span class="vector-icon mw-ui-icon-menu mw-ui-icon-wikimedia-menu"></span> <span class="vector-dropdown-label-text">Main menu</span> </label>
       <div class="vector-dropdown-content">
        <div id="vector-main-menu-unpinned-container" class="vector-unpinned-container">
         <div id="vector-main-menu" class="vector-main-menu vector-pinnable-element">
          <div class="vector-pinnable-header vector-main-menu-pinnable-header vector-pinnable-header-unpinned" data-feature-name="main-menu-pinned" data-pinnable-element-id="vector-main-menu" data-pinned-container-id="vector-main-menu-pinned-container" data-unpinned-container-id="vector-main-menu-unpinned-container">
           <div class="vector-pinnable-header-label">
            Main menu
           </div>
           <button class="vector-pinnable-header-toggle-button vector-pinnable-header-pin-button" data-event-name="pinnable-header.vector-main-menu.pin">move to sidebar</button>
           <button class="vector-pinnable-header-toggle-button vector-pinnable-header-unpin-button" data-event-name="pinnable-header.vector-main-menu.unpin">hide</button>
          </div>
          <div id="p-navigation" class="vector-menu mw-portlet mw-portlet-navigation">
           <div class="vector-menu-heading">
             Navigation
           </div>
           <div class="vector-menu-content">
            <ul class="vector-menu-content-list">
             <li id="n-mainpage-description" class="mw-list-item"><a href="/wiki/Main_Page" title="Visit the main page [z]" accesskey="z"><span>Main page</span></a></li>
             <li id="n-contents" class="mw-list-item"><a href="/wiki/Wikipedia:Contents" title="Guides to browsing Wikipedia"><span>Contents</span></a></li>
             <li id="n-currentevents" class="mw-list-item"><a href="/wiki/Portal:Current_events" title="Articles related to current events"><span>Current events</span></a></li>
             <li id="n-randompage" class="mw-list-item"><a href="/wiki/Special:Random" title="Visit a randomly selected article [x]" accesskey="x"><span>Random article</span></a></li>
             <li id="n-aboutsite" class="mw-list-item"><a href="/wiki/Wikipedia:About" title="Learn about Wikipedia and how it works"><span>About Wikipedia</span></a></li>
             <li id="n-contactpage" class="mw-list-item"><a href="//en.wikipedia.org/wiki/Wikipedia:Contact_us" title="How to contact Wikipedia"><span>Contact us</span></a></li>
            </ul>
           </div>
          </div>
          <div id="p-interaction" class="vector-menu mw-portlet mw-portlet-interaction">
           <div class="vector-menu-heading">
             Contribute
           </div>
           <div class="vector-menu-content">
            <ul class="vector-menu-content-list">
             <li id="n-help" class="mw-list-item"><a href="/wiki/Help:Contents" title="Guidance on how to use and edit Wikipedia"><span>Help</span></a></li>
             <li id="n-introduction" class="mw-list-item"><a href="/wiki/Help:Introduction" title="Learn how to edit Wikipedia"><span>Learn to edit</span></a></li>
             <li id="n-portal" class="mw-list-item"><a href="/wiki/Wikipedia:Community_portal" title="The hub for editors"><span>Community portal</span></a></li>
             <li id="n-recentchanges" class="mw-list-item"><a href="/wiki/Special:RecentChanges" title="A list of recent changes to Wikipedia [r]" accesskey="r"><span>Recent changes</span></a></li>
             <li id="n-upload" class="mw-list-item"><a href="/wiki/Wikipedia:File_upload_wizard" title="Add images or other media for use on Wikipedia"><span>Upload file</span></a></li>
            </ul>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </nav>
     <a href="/wiki/Main_Page" class="mw-logo"> <img class="mw-logo-icon" src="/static/images/icons/wikipedia.png" alt="" aria-hidden="true" height="50" width="50" /> <span class="mw-logo-container skin-invert"> <img class="mw-logo-wordmark" alt="Wikipedia" src="/static/images/mobile/copyright/wikipedia-wordmark-en.svg" style="width: 7.5em; height: 1.125em;" /> <img class="mw-logo-tagline" alt="The Free Encyclopedia" src="/static/images/mobile/copyright/wikipedia-tagline-en.svg" width="117" height="13" style="width: 7.3125em; height: 0.8125em;" /> </span> </a>
    </div>
    <div class="vector-header-end">
     <div id="p-search" role="search" class="vector-search-box-vue  vector-search-box-collapses vector-search-box-show-thumbnail vector-search-box-auto-expand-width vector-search-box">
      <a href="/wiki/Special:Search" class="cdx-button cdx-button--fake-button cdx-button--fake-button--enabled cdx-button--weight-quiet cdx-button--icon-only search-toggle" title="Search Wikipedia [f]" accesskey="f"><span class="vector-icon mw-ui-icon-search mw-ui-icon-wikimedia-search"></span> <span>Search</span> </a>
      <div class="vector-typeahead-search-container">
       <div class="cdx-typeahead-search cdx-typeahead-search--show-thumbnail cdx-typeahead-search--auto-expand-width">
        <form action="/w/index.php" id="searchform" class="cdx-search-input cdx-search-input--has-end-button">
         <div id="simpleSearch" class="cdx-search-input__input-wrapper" data-search-loc="header-moved">
          <div class="cdx-text-input cdx-text-input--has-start-icon">
           <input class="cdx-text-input__input" type="search" name="search" placeholder="Search Wikipedia" aria-label="Search Wikipedia" autocapitalize="sentences" title="Search Wikipedia [f]" accesskey="f" id="searchInput" />
           <span class="cdx-text-input__icon cdx-text-input__start-icon"></span>
          </div>
          <input type="hidden" name="title" value="Special:Search" />
         </div>
         <button class="cdx-button cdx-search-input__end-button">Search</button>
        </form>
       </div>
      </div>
     </div>
     <nav class="vector-user-links vector-user-links-wide" aria-label="Personal tools">
      <div class="vector-user-links-main">
       <div id="p-vector-user-menu-preferences" class="vector-menu mw-portlet emptyPortlet">
        <div class="vector-menu-content">
         <ul class="vector-menu-content-list">
         </ul>
        </div>
       </div>
       <div id="p-vector-user-menu-userpage" class="vector-menu mw-portlet emptyPortlet">
        <div class="vector-menu-content">
         <ul class="vector-menu-content-list">
         </ul>
        </div>
       </div>
       <nav class="vector-appearance-landmark" aria-label="Appearance">
        <div id="vector-appearance-dropdown" class="vector-dropdown " title="Change the appearance of the page's font size, width, and color">
         <input type="checkbox" id="vector-appearance-dropdown-checkbox" role="button" aria-haspopup="true" data-event-name="ui.dropdown-vector-appearance-dropdown" class="vector-dropdown-checkbox " aria-label="Appearance" />
         <label id="vector-appearance-dropdown-label" for="vector-appearance-dropdown-checkbox" class="vector-dropdown-label cdx-button cdx-button--fake-button cdx-button--fake-button--enabled cdx-button--weight-quiet cdx-button--icon-only " aria-hidden="true"><span class="vector-icon mw-ui-icon-appearance mw-ui-icon-wikimedia-appearance"></span> <span class="vector-dropdown-label-text">Appearance</span> </label>
         <div class="vector-dropdown-content">
          <div id="vector-appearance-unpinned-container" class="vector-unpinned-container">
          </div>
         </div>
        </div>
       </nav>
       <div id="p-vector-user-menu-notifications" class="vector-menu mw-portlet emptyPortlet">
        <div class="vector-menu-content">
         <ul class="vector-menu-content-list">
         </ul>
        </div>
       </div>
       <div id="p-vector-user-menu-overflow" class="vector-menu mw-portlet">
        <div class="vector-menu-content">
         <ul class="vector-menu-content-list">
          <li id="pt-sitesupport-2" class="user-links-collapsible-item mw-list-item user-links-collapsible-item"><a data-mw="interface" href="https://donate.wikimedia.org/?wmf_source=donate&amp;wmf_medium=sidebar&amp;wmf_campaign=en.wikipedia.org&amp;uselang=en" class=""><span>Donate</span></a> </li>
          <li id="pt-createaccount-2" class="user-links-collapsible-item mw-list-item user-links-collapsible-item"><a data-mw="interface" href="/w/index.php?title=Special:CreateAccount&amp;returnto=Passengers+of+the+Titanic" title="You are encouraged to create an account and log in; however, it is not mandatory" class=""><span>Create account</span></a> </li>
          <li id="pt-login-2" class="user-links-collapsible-item mw-list-item user-links-collapsible-item"><a data-mw="interface" href="/w/index.php?title=Special:UserLogin&amp;returnto=Passengers+of+the+Titanic" title="You're encouraged to log in; however, it's not mandatory. [o]" accesskey="o" class=""><span>Log in</span></a> </li>
         </ul>
        </div>
       </div>
      </div>
      <div id="vector-user-links-dropdown" class="vector-dropdown vector-user-menu vector-button-flush-right vector-user-menu-logged-out" title="Log in and more options">
       <input type="checkbox" id="vector-user-links-dropdown-checkbox" role="button" aria-haspopup="true" data-event-name="ui.dropdown-vector-user-links-dropdown" class="vector-dropdown-checkbox " aria-label="Personal tools" />
       <label id="vector-user-links-dropdown-label" for="vector-user-links-dropdown-checkbox" class="vector-dropdown-label cdx-button cdx-button--fake-button cdx-button--fake-button--enabled cdx-button--weight-quiet cdx-button--icon-only " aria-hidden="true"><span class="vector-icon mw-ui-icon-ellipsis mw-ui-icon-wikimedia-ellipsis"></span> <span class="vector-dropdown-label-text">Personal tools</span> </label>
       <div class="vector-dropdown-content">
        <div id="p-personal" class="vector-menu mw-portlet mw-portlet-personal user-links-collapsible-item" title="User menu">
         <div class="vector-menu-content">

The parsed html is a org.jsoup.nodes.Document class.

In [14]:
(class parsed-html)

class org.jsoup.nodes.Document

Lets see its methods:

In [15]:
(.getMethods (.getClass parsed-html))

[public java.lang.Object org.jsoup.nodes.Document.clone() throws java.lang.CloneNotSupportedException, public org.jsoup.nodes.Document org.jsoup.nodes.Document.clone(), public org.jsoup.nodes.Element org.jsoup.nodes.Document.clone(), public org.jsoup.nodes.Node org.jsoup.nodes.Document.clone(), public org.jsoup.nodes.Element org.jsoup.nodes.Document.head(), public org.jsoup.nodes.Element org.jsoup.nodes.Document.text(java.lang.String), public org.jsoup.nodes.Element org.jsoup.nodes.Document.body(), public java.lang.String org.jsoup.nodes.Document.title(), public void org.jsoup.nodes.Document.title(java.lang.String), public java.lang.String org.jsoup.nodes.Document.outerHtml(), public java.lang.String org.jsoup.nodes.Document.nodeName(), public org.jsoup.nodes.Document org.jsoup.nodes.Document.normalise(), public org.jsoup.nodes.Document$QuirksMode org.jsoup.nodes.Document.quirksMode(), public org.jsoup.nodes.Document org.jsoup.nodes.Document.quirksMode(org.jsoup.nodes.Document$QuirksMode), public static org.jsoup.nodes.Document org.jsoup.nodes.Document.createShell(java.lang.String), public org.jsoup.nodes.Document$OutputSettings org.jsoup.nodes.Document.outputSettings(), public org.jsoup.nodes.Element org.jsoup.nodes.Document.createElement(java.lang.String), public final org.jsoup.nodes.Element org.jsoup.nodes.Element.parent(), public org.jsoup.nodes.Node org.jsoup.nodes.Element.parent(), public boolean org.jsoup.nodes.Element.equals(java.lang.Object), public java.lang.String org.jsoup.nodes.Element.toString(), public org.jsoup.nodes.Element org.jsoup.nodes.Element.append(java.lang.String), public int org.jsoup.nodes.Element.hashCode(), public java.lang.String org.jsoup.nodes.Element.className(), public org.jsoup.nodes.Node org.jsoup.nodes.Element.wrap(java.lang.String), public org.jsoup.nodes.Element org.jsoup.nodes.Element.wrap(java.lang.String), public java.lang.String org.jsoup.nodes.Element.val(), public org.jsoup.nodes.Element org.jsoup.nodes.Element.val(java.lang.String), public java.lang.String org.jsoup.nodes.Element.data(), public org.jsoup.nodes.Element org.jsoup.nodes.Element.empty(), public org.jsoup.nodes.Element org.jsoup.nodes.Element.addClass(java.lang.String), public java.lang.String org.jsoup.nodes.Element.id(), public org.jsoup.select.Elements org.jsoup.nodes.Element.parents(), public org.jsoup.nodes.Element org.jsoup.nodes.Element.child(int), public org.jsoup.nodes.Element org.jsoup.nodes.Element.prepend(java.lang.String), public org.jsoup.nodes.Element org.jsoup.nodes.Element.attr(java.lang.String,java.lang.String), public org.jsoup.nodes.Node org.jsoup.nodes.Element.attr(java.lang.String,java.lang.String), public org.jsoup.nodes.Element org.jsoup.nodes.Element.before(org.jsoup.nodes.Node), public org.jsoup.nodes.Node org.jsoup.nodes.Element.before(org.jsoup.nodes.Node), public org.jsoup.nodes.Node org.jsoup.nodes.Element.before(java.lang.String), public org.jsoup.nodes.Element org.jsoup.nodes.Element.before(java.lang.String), public org.jsoup.nodes.Element org.jsoup.nodes.Element.after(java.lang.String), public org.jsoup.nodes.Node org.jsoup.nodes.Element.after(java.lang.String), public org.jsoup.nodes.Node org.jsoup.nodes.Element.after(org.jsoup.nodes.Node), public org.jsoup.nodes.Element org.jsoup.nodes.Element.after(org.jsoup.nodes.Node), public java.lang.String org.jsoup.nodes.Element.text(), public org.jsoup.nodes.Element org.jsoup.nodes.Element.classNames(java.util.Set), public java.util.Set org.jsoup.nodes.Element.classNames(), public org.jsoup.parser.Tag org.jsoup.nodes.Element.tag(), public org.jsoup.nodes.Element org.jsoup.nodes.Element.appendText(java.lang.String), public org.jsoup.select.Elements org.jsoup.nodes.Element.children(), public java.lang.String org.jsoup.nodes.Element.html(), public org.jsoup.nodes.Element org.jsoup.nodes.Element.html(java.lang.String), public java.lang.String org.jsoup.nodes.Element.tagName(), public org.jsoup.nodes.Element org.jsoup.nodes.Element.tagName(java.lang.String), public org.jsoup.select.Elements org.jsoup.nodes.Element.getElementsByAttribute(java.lang.String), public org.jsoup.select.Elements org.jsoup.nodes.Element.getElementsByIndexLessThan(int), public org.jsoup.select.Elements org.jsoup.nodes.Element.getElementsContainingText(java.lang.String), public org.jsoup.select.Elements org.jsoup.nodes.Element.getElementsByIndexEquals(int), public org.jsoup.select.Elements org.jsoup.nodes.Element.select(java.lang.String), public org.jsoup.select.Elements org.jsoup.nodes.Element.getElementsMatchingOwnText(java.lang.String), public org.jsoup.select.Elements org.jsoup.nodes.Element.getElementsMatchingOwnText(java.util.regex.Pattern), public org.jsoup.select.Elements org.jsoup.nodes.Element.getElementsMatchingText(java.lang.String), public org.jsoup.select.Elements org.jsoup.nodes.Element.getElementsMatchingText(java.util.regex.Pattern), public org.jsoup.select.Elements org.jsoup.nodes.Element.getElementsByAttributeValueMatching(java.lang.String,java.util.regex.Pattern), public org.jsoup.select.Elements org.jsoup.nodes.Element.getElementsByAttributeValueMatching(java.lang.String,java.lang.String), public org.jsoup.select.Elements org.jsoup.nodes.Element.getElementsByAttributeValueContaining(java.lang.String,java.lang.String), public org.jsoup.select.Elements org.jsoup.nodes.Element.getElementsByAttributeValueStarting(java.lang.String,java.lang.String), public org.jsoup.nodes.Element org.jsoup.nodes.Element.previousElementSibling(), public java.lang.Integer org.jsoup.nodes.Element.elementSiblingIndex(), public org.jsoup.nodes.Element org.jsoup.nodes.Element.firstElementSibling(), public boolean org.jsoup.nodes.Element.isBlock(), public java.util.Map org.jsoup.nodes.Element.dataset(), public java.lang.String org.jsoup.nodes.Element.ownText(), public boolean org.jsoup.nodes.Element.hasText(), public boolean org.jsoup.nodes.Element.hasClass(java.lang.String), public org.jsoup.nodes.Element org.jsoup.nodes.Element.getElementById(java.lang.String), public org.jsoup.select.Elements org.jsoup.nodes.Element.siblingElements(), public org.jsoup.select.Elements org.jsoup.nodes.Element.getAllElements(), public org.jsoup.nodes.Element org.jsoup.nodes.Element.prependText(java.lang.String), public org.jsoup.nodes.Element org.jsoup.nodes.Element.removeClass(java.lang.String), public org.jsoup.nodes.Element org.jsoup.nodes.Element.toggleClass(java.lang.String), public org.jsoup.nodes.Element org.jsoup.nodes.Element.prependElement(java.lang.String), public org.jsoup.select.Elements org.jsoup.nodes.Element.getElementsByTag(java.lang.String), public org.jsoup.nodes.Element org.jsoup.nodes.Element.lastElementSibling(), public org.jsoup.select.Elements org.jsoup.nodes.Element.getElementsByClass(java.lang.String), public org.jsoup.nodes.Element org.jsoup.nodes.Element.appendChild(org.jsoup.nodes.Node), public org.jsoup.nodes.Element org.jsoup.nodes.Element.nextElementSibling(), public org.jsoup.nodes.Element org.jsoup.nodes.Element.prependChild(org.jsoup.nodes.Node), public org.jsoup.nodes.Element org.jsoup.nodes.Element.appendElement(java.lang.String), public org.jsoup.select.Elements org.jsoup.nodes.Element.getElementsByAttributeValue(java.lang.String,java.lang.String), public org.jsoup.select.Elements org.jsoup.nodes.Element.getElementsByAttributeValueNot(java.lang.String,java.lang.String), public org.jsoup.select.Elements org.jsoup.nodes.Element.getElementsContainingOwnText(java.lang.String), public org.jsoup.select.Elements org.jsoup.nodes.Element.getElementsByIndexGreaterThan(int), public org.jsoup.select.Elements org.jsoup.nodes.Element.getElementsByAttributeValueEnding(java.lang.String,java.lang.String), public org.jsoup.select.Elements org.jsoup.nodes.Element.getElementsByAttributeStarting(java.lang.String), public void org.jsoup.nodes.Node.remove(), public org.jsoup.nodes.Node org.jsoup.nodes.Node.unwrap(), public java.lang.String org.jsoup.nodes.Node.attr(java.lang.String), public void org.jsoup.nodes.Node.replaceWith(org.jsoup.nodes.Node), public java.lang.String org.jsoup.nodes.Node.baseUri(), public org.jsoup.nodes.Attributes org.jsoup.nodes.Node.attributes(), public java.lang.String org.jsoup.nodes.Node.absUrl(java.lang.String), public org.jsoup.nodes.Node org.jsoup.nodes.Node.childNode(int), public java.util.List org.jsoup.nodes.Node.childNodes(), public boolean org.jsoup.nodes.Node.hasAttr(java.lang.String), public org.jsoup.nodes.Node org.jsoup.nodes.Node.removeAttr(java.lang.String), public void org.jsoup.nodes.Node.setBaseUri(java.lang.String), public org.jsoup.nodes.Node org.jsoup.nodes.Node.previousSibling(), public org.jsoup.nodes.Document org.jsoup.nodes.Node.ownerDocument(), public int org.jsoup.nodes.Node.siblingIndex(), public org.jsoup.nodes.Node org.jsoup.nodes.Node.nextSibling(), public java.util.List org.jsoup.nodes.Node.siblingNodes(), public final native java.lang.Class java.lang.Object.getClass(), public final native void java.lang.Object.notify(), public final native void java.lang.Object.notifyAll(), public final void java.lang.Object.wait(long) throws java.lang.InterruptedException, public final void java.lang.Object.wait(long,int) throws java.lang.InterruptedException, public final void java.lang.Object.wait() throws java.lang.InterruptedException]

In [16]:
(class (.getElementsByTag parsed-html "tbody"))

class org.jsoup.select.Elements

We want the 3 Wikipedia tables of:

*  https://en.wikipedia.org/wiki/Passengers_of_the_Titanic#First_class_2

*  https://en.wikipedia.org/wiki/Passengers_of_the_Titanic#Second_class_2

*  https://en.wikipedia.org/wiki/Passengers_of_the_Titanic#Third_class_2

In [17]:
(defn select-only-tables
    "Assigns a name of \"tbodies\" to the value of
     obtaining all elements with a tag of 'tbody'.
     Yields a org.jsoup.select.Elements class. This
     is then iterated using the higher order function keep
     which when given a fn and a collection applies this function
     and upon returning nil does not include it in the result."
    [parsed]
    (let [tbodies (.getElementsByTag parsed "tbody")]
        (keep (fn [tbody]
                  (when (empty? (.select tbody "img"))
                      tbody)) 
              tbodies)))

(defn select-table-rows
    "Returns a lazy sequence of selecting
     the 'tr' elements from tables"
    [tables]
    (map #(.select % "tr") tables))

(defn select-table-trs
    [coll]
    (keep (fn [tr] (when (empty? (.select tr "ul")) tr))
          coll))

(defn partition-by-headers
    [coll]
    (partition-by #(when (not-empty (.select % "th")) %)
                  coll))

(defn read-number
    "First tries to parse an integer from
     the resulting string from concatenating
     a lazy-seq of all chars that are digits
     from string. Catches the exception thrown
     and tries to do the same after dropping
     leading zeroes."
    [string]
    (let [read-n #(Integer/parseInt (apply str (re-seq #"\d" %)))
          drop-leading-zeroes #(read-n (apply str (drop-while (partial = \0) %)))]
        (try (read-n string)
            (catch Exception _
                (drop-leading-zeroes string)))))

(defn extract-rowspan
    "Parses the number after rowspan=\"XXX\"."
    [string]
    (let [idx1 (.indexOf string "=\"")
          new-string (subs string (+ idx1 2))
          string (apply str (reverse new-string))
          idx2 (.lastIndexOf string "\"")
          new-string (subs string (inc idx2))]
        ((fn return [] 
             (read-number new-string)))))


(defn insert
    [sq index value]
    (let [[head tail] (split-at (dec index) sq)]
        (lazy-cat head [value] tail)))

(defn textify
    "Extracts the '>XXX</' text from value."
    [value]
    (if (= (class value) (class ""))
        (let [f (rest (drop-while #(not= % \>) value))
              s (take-while #(not= % \<) f)]
            (apply str s))
        (.text value)))


(defn prep
    "Iterates through tds, if a td
     contains rowspan, extracts the
     rowspan and then decrements it,
     then adds to the first element
     of remaining the formatted string
     of td with the new rowspan and
     the text value of td, else
     returns remaining once all idxs
     have been iterated over."
    [tds remaining]
    (let [idxs (range (count tds))]
        (loop [[i & is] idxs remaining remaining]
            (if (not i)
                remaining
                (let [value (nth tds i)]
                    (if (.contains (str value) "rowspan")
                        (let [extracted-rowspan (extract-rowspan (str value))]
                            (if (= extracted-rowspan 1)
                                (recur is remaining)
                                (let [[nxt & rmng] remaining
                                      n extracted-rowspan
                                      rowspan #(format "<td rowspan=\"%s\">%s</td>" %1 %2)
                                      inserted (insert nxt (inc i) (rowspan (dec n) (textify value)))]
                                    (recur is (cons inserted rmng)))))
                        (recur is remaining)))))))

(defn iter
    "Returns a lazy-seq of consing
     a lazy-seq of the text values of
     tds to the rest of (iter MAX prepared).
     Checks if (count row) is eq to MAX, if
     it is then just gives row to cons it,
     else if is less then gives row + 
     (repeat (- MAX (count row)) \"\").
     Otherwise gives butlast row."
    [MAX trs]
    (lazy-seq
     (when-first [tds trs]
         (let [remaining (rest trs)
               prepared (prep tds remaining)
               row (map #(textify %) tds)]
             (#(cons % (iter MAX prepared))
               (cond
                   (> (count row) MAX) (butlast row)
                   (< (count row) MAX) (concat row (repeat (- MAX (count row)) ""))
                   :else row))))))
(defn go-through
    "Parses a org.jsoup.Elements
     class into a lazy-seq of tds.
     This is then passed to iter."
    [MAX vs]
    (iter MAX (map #(map identity (.select % "td")) vs)))


(defn html->seq-of-seq-of-maps
    "Retrieves a lazy-seq of
     lazy-seqs of maps."
    [html]
    (letfn [(helper
             [part]
             (map (fn [f]
                      (let [headers (map #(.text %) (.select (first f) "th"))
                            values (go-through (count headers) (rest (first f)))]
                          (map #(zipmap headers %) values))) part))]
        (helper (partition-by-headers
                 (select-table-trs
                  (select-table-rows
                   (select-only-tables html)))))))

#'beaker_clojure_shell_5741a78b-609f-468e-b823-64137e74c63c/html->seq-of-seq-of-maps

In [18]:
(def seq-of-seq-of-maps (html->seq-of-seq-of-maps parsed-html))

#'beaker_clojure_shell_5741a78b-609f-468e-b823-64137e74c63c/seq-of-seq-of-maps

Next we will pass the table titles we were looking for to *store*, it will take '(count titles)' from the seq of seq of maps from above and write its contents
to a .txt file with the corresponding title from the titles seq as its name and the corresponding seq of maps as its content.

In [19]:
(defn store
    [titles sq]
    (dorun (map (fn [title data]
                    (spit (str title ".txt") (apply list data)))
                titles
                (take (count titles) sq)))
    "done")

(store ["First class" "Second class" "Third class"] 
       seq-of-seq-of-maps)

done

Now onto the second part of the Data Science methodology "Data Wrangling" done with **Clojure**.